/**** NAVBAR ****/
@import 'variables';

// Mix ins:
@mixin alertButton() {
  background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_icon_alert.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_icon_alert.png");
  background-position: 0 0;
  background-color: $navbar-bg;
  border: none;
  box-shadow: none;
}

//Style
.navbar-inverse {
  background: $navbar-bg;

  .with-home-icon {
    display: inline-block;
    background-image: url('../../../../themes/SolarEdgeP/images/p_icon_home.png');
    background-position: 14px ($navbar-height / 3);
    background-repeat: no-repeat;
    color: $navbar-menu-link-color;
    padding: 0;
    overflow: hidden;
    width: 48px;
    line-height: $navbar-height;
    text-indent: -9999px;
    content: '';
  }

  a:hover.with-home-icon {
    background-image: url('../../../../themes/SolarEdgeP/images/p_icon_home_hover.png');
  }

  .dropdown-menu > li > a {
    line-height: normal;
  }

  .dropdown-menu {
    font-size: 10px;
    background: $navbar-main-menu-bg;
    padding: 4px 10px 4px 10px;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow-y: auto;
    min-width: 185px;

    li {
      padding: 0;
      margin: 0;

      a {
        display: block;
        font-size: 14px;
        background-color: $navbar-main-menu-bg;
        color: $navbar-menu-link-color;
        padding: 12px 15px 12px 15px;
        margin: 0;
        border-bottom: 1px solid $navbar-menu-seperator;
        letter-spacing: 0;
        text-decoration: none;
        text-transform: none;
      }

      a:hover {
        background: $navbar-main-menu-bg;
        color: $navbar-menu-link-color-hover;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
        -moz-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
      }
    }

    .action-links-title {
      a:hover {
        color: $default-btn-color;
      }
    }
    .recentlinks {
      width: 100%;

      img {
        margin-right: 5px;
      }
      a:hover {
        color: $default-btn-color;
      }
    }
    .favoritelinks {
      width: 100%;

      img {
        margin-right: 5px;
      }
      a:hover {
        color: $default-btn-color;
      }
    }

  }

  .nav {
    display: inline-block;

    > .topnav {
      margin: 0;
      font-size: 13px;
      height: $navbar-height;
      letter-spacing: 2px;
      line-height: $navbar-height;
      padding: 0 ($navbar-links-padding / 2) 0 ($navbar-links-padding / 2);
      text-transform: uppercase;

      > span.notCurrentTab {
        > a {
          display: inline-block;
          border-top: 3px solid transparent;
          //padding-top: 36px;
          //padding-bottom: 35px;
        }

        > a:hover {
          background-color: $navbar-main-menu-bg;
          border-top: 3px solid $navbar-menu-current-seperator;
        }
      }

      > span.currentTab {
        > a {
          display: inline-block;
          border-top: 3px solid $navbar-menu-current-seperator;
          //padding-top: 36px;
          //padding-bottom: 35px;
        }
      }

      .currentTab a {
        color: $navbar-link-color-hover;
      }

      .currentTab a,
      .dropdown-toggle {
        font-size: $navbar-topnav-font-size;
      }
    }

    > .topnav.with-actions {
      margin: 0;
      font-size: 13px;
      height: $navbar-height;
      letter-spacing: 2px;
      line-height: 90px;
      padding: 0 0 0 0;
      text-transform: uppercase;
      clear: both;

      > span.notCurrentTab {
        > a {
          display: inline-block;
          border-top: 3px solid transparent;
          padding-top: 0;
          padding-bottom: 0;
          height: $navbar-height;
        }

        > a:hover {
          background-color: $navbar-main-menu-bg;
          border-top: 3px solid $navbar-menu-current-seperator;
        }
      }

      > span.currentTab {
        > a {
          display: inline-block;
          border-top: 3px solid $navbar-menu-current-seperator;
          padding-top: 0;
          padding-bottom: 0;
          height: $navbar-height;
        }
      }

      .currentTab a,
      .dropdown-toggle {
        font-size: $navbar-topnav-font-size;
      }
    }
  }

  .navbar-right {
    .dropdown-menu {
      border-top-left-radius: 3px;
    }
  }
  /* fix default buttons */
  .btn-default {
    background-color: transparent;
    border-color: transparent;
  }

  .btn-default:hover {
    background-color: transparent;
    border-color: transparent;
  }

  .btn-default:active {
    background-color: transparent;
    border-color: transparent;
  }

  .btn-default:focus {
    background-color: transparent;
    border-color: transparent;
  }
  .headerlinks a:link {
    color: $default-btn-color;
    padding: 0;
    width: 100%;
  }

  .headerlinks a:visited {
    color: $default-btn-color;
    padding: 0;
    width: 100%;
  }


}

.navbar-nav>li {
  float: none;
  display: inline-block;
}

.navbar {
  max-height: $navbar-height;
  min-height: $navbar-height;
}

.recent_h3 {
  color: $default-btn-color;
  line-height: 42px;
}

.recent_h3 > strong {
  text-transform: none;
}

.recently_viewed_link_container {
  margin-bottom: 16px;
  float: left;
  overflow: hidden;
  width: 100%;
}

.navbar-fixed-bottom {
  z-index: 15030;
}

.navbar-fixed-top {
  z-index: 15030;
}

/* fakes the space the icon takes */
.topnav > ul > li > ul > li a span.topnav-fake-icon {
  display: inline;
  height: 20px;
}

.topnav .dropdown-menu li {
  line-height: normal;
}

.dropdown-menu li.action-links-title a:hover {
  color: $default-btn-color;
}

.dropdown-menu li.recent-links-title a:hover {
  color: $default-btn-color;
}

.dropdown-menu li.favorite-links-title a:hover {
  color: $default-btn-color;
}

.with-actions span {
  display: inline-block;
}

.with-actions .dropdown-menu {
  padding: 0 10px 0 10px;
  width: 200px
}

.with-actions .dropdown-menu li {
  line-height: normal;
}

.mobileheader .dropdown-menu {
  width: 200px;
}

.mobileheader .dropdown-menu li {
  line-height: normal;
}

.mobileheader .dropdown-menu ul li.recentlinks:last-of-type {
  border-bottom: none;
}

.mobileheader .dropdown-menu ul li.favoritelinks:last-of-type {
  border-bottom: none;
}

.mobileheader .dropdown-menu ul li.recentlinks:only-child {
  border-bottom: none;
}

.mobileheader .dropdown-menu ul li.favoritelinks:only-child {
  border-bottom: none;
}

.mobileheader .dropdown-menu li:last-of-type a {
  border-bottom: none;
}

.mobileheader .dropdown-menu li.recent-links-title a {
  padding: 12px 15px 5px 15px;
}

.mobileheader .dropdown-menu li.favorite-links-title a {
  padding: 12px 15px 5px 15px;
}


.topnav .dropdown-menu li.recentlinks:last-of-type {
  border-bottom: none;
}

.topnav .dropdown-menu li.favoritelinks:last-of-type {
  border-bottom: none;
}

.topnav .dropdown-menu li.recentlinks:only-child {
  border-bottom: none;
}

.topnav .dropdown-menu li.favoritelinks:only-child {
  border-bottom: none;
}

.with-actions .dropdown-menu li.recentlinks:last-of-type {
  border-bottom: none;
}

.with-actions .dropdown-menu li.favoritelinks:last-of-type {
  border-bottom: none;
}

.with-actions .dropdown-menu li.recentlinks:only-child {
  border-bottom: none;
}

.with-actions .dropdown-menu li.favoritelinks:only-child {
  border-bottom: none;
}

.mobileheader .dropdown-menu li.recentlinks {
  border-bottom: 1px solid $navbar-menu-seperator;
}

.mobileheader .dropdown-menu li.favoritelinks {
  border-bottom: 1px solid $navbar-menu-seperator;
}

.topnav .dropdown-menu li.recentlinks {
  border-bottom: 1px solid $navbar-menu-seperator;
}

.topnav .dropdown-menu li.favoritelinks {
  border-bottom: 1px solid $navbar-menu-seperator;
}

.with-actions .dropdown-menu li.recentlinks {
  border-bottom: 1px solid $navbar-menu-seperator;
}

.with-actions .dropdown-menu li.favoritelinks {
  border-bottom: 1px solid $navbar-menu-seperator;
}

.mobileheader .dropdown-menu ul li a.recent-links-detail {
  padding-top: 12px;
  padding-bottom: 12px;
}

.mobileheader .dropdown-menu ul li a.favorite-links-detail {
  padding-top: 12px;
  padding-bottom: 12px;
}

.mobileheader .dropdown-menu ul li a.recent-links-edit {
  padding-top: 12px;
  padding-bottom: 12px;
}

.mobileheader .dropdown-menu ul li a.favorite-links-edit {
  padding-top: 12px;
  padding-bottom: 12px;
}

.mobileheader .dropdown-menu ul li a.recent-links-detail {
  display: inline-block;
  border: none;
  width: 80%;
}

.mobileheader .dropdown-menu ul li a.favorite-links-detail {
  display: inline-block;
  border: none;
  width: 80%;
}

.topnav .dropdown-menu li a.recent-links-detail {
  display: inline-block;
  border: none;
  width: 75%;
}

.topnav .dropdown-menu li a.favorite-links-detail {
  display: inline-block;
  border: none;
  width: 75%;
}

.with-actions .recent-links-detail {
  display: inline-block;
  border: none;
  width: 75%;
}

.with-actions .favorite-links-detail {
  display: inline-block;
  border: none;
  width: 75%;
}

.navbar-inverse .dropdown-menu li a.recent-links-edit {
  padding-right: 0;
}

.navbar-inverse .dropdown-menu li a.favorite-links-edit {
  padding-right: 0;
}

.navbar-inverse .dropdown-menu li a.recent-links-detail {
  padding-right: 0;
}

.navbar-inverse .dropdown-menu li a.favorite-links-detail {
  padding-right: 0;
}

.mobileheader .dropdown-menu ul li a.recent-links-edit {
  display: inline-block;
  border: none;
  width: 20px;
  height: 20px;
}

.mobileheader .dropdown-menu ul li a.favorite-links-edit {
  display: inline-block;
  border: none;
  width: 20px;
  height: 20px;
}

.topnav .dropdown-menu li a.recent-links-edit {
  display: inline-block;
  border: none;
  width: 20px;
  height: 20px;
}

.topnav .dropdown-menu li a.favorite-links-edit {
  display: inline-block;
  border: none;
  width: 20px;
  height: 20px;
}

.with-actions .dropdown-menu li a.recent-links-edit {
  display: inline-block;
  border: none;
  width: 20px;
  height: 20px;
}

.with-actions .dropdown-menu li a.favorite-links-edit {
  display: inline-block;
  border: none;
  width: 20px;
  height: 20px;
}

.topnav a {
  color: $navbar-link-color;
}

.topnav:hover {
  background-color: $navbar-main-menu-bg;
  color: $navbar-link-color-hover;
}

.topnav a:hover {
  color: $navbar-link-color-hover;
}

.topnav .dropdown-menu li:last-child a {
  border-bottom: 0;
}

.navbar-right .dropdown-menu li:last-child a {
  border-bottom: 0;
}

.moremenu ul {
  overflow-y: auto;
  max-height: 525px;
}

.dropdown-menu {
  overflow-y: auto;
  max-height: 525px;
}

.moremenu a {
  font-size: 1.2em;
  color: $default-btn-color;
  cursor: pointer;
  padding: 8px 0 0 0;
  margin: 0;
}

.moremenu ul {
  top: 49px;
  margin: 0;
}

.moremenu ul li a {
  display: block;
  font-size: 1.2em;
  color: $danger;
  cursor: pointer;
  padding: 5px;
}

.moremenu ul li:hover {
  border-radius: 0;
}

.moremenu ul li a:hover {
  background: none;
  background: $danger-btn-bg;
  color: $default-btn-color;
  cursor: pointer;
  padding: 5px;
}

.mobile_menu {
  border-top: none;
}

.mobile_menu {
  padding: 4px 10px;
}

.mobile_menu a .glyphicon-plus {
  float: right;
  text-align: center;
  width: 28px;
  height: 28px;
}

.mobile_menu a:hover .glyphicon-plus {
  color: $navbar-menu-link-color;
}

.usermenu a {
  font-size: 14px;
  background-color: $navbar-bg;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
}

.usermenu a:hover {
  color: $navbar-link-color;
}


.globalLinks-desktop .user-dropdown li a {
  color: $navbar-menu-link-color;
}

.globalLinks-desktop .user-dropdown li a:hover {
  color: $navbar-menu-link-color-hover;
}

.navbar-inverse .globalLinks-desktop > li > a {
  color: $default-btn-color;
}

.globalLinks-desktop ul li a {
  color: $navbar-menu-link-color;

}

.globalLinks-desktop ul li a:hover {
  color: $navbar-menu-link-color-hover;
}

.globalLinks-desktop ul li {
  padding: 0;
}

.usermenu a .caret {
  background-image: none, url("../../../../index.php?entryPoint=getImage&imageName=p_icon_caret.svg"), url("../../../../index.php?entryPoint=getImage&imageName=p_icon_caret.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  margin-left: 10px;
  border: 0;
  width: 10px;
  height: 10px;
}

.usermenu a .user_icon {
  display: inline-block;
  background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon.png");
  background-position: 0 -1;
  background-repeat: no-repeat;
  margin-right: 11px;
  float: left;
  width: 42px;
  height: 42px;
}

.usermenucollapsed {
  margin: 0;
  padding: 0;
  height: 48px;
  width: 48px;
  line-height: 20px;
}

.usermenucollapsed.btn-default:hover {
  border: none;
}

.usermenucollapsed.btn-default-mobile {
  display: none;
  margin: 0 0 0 5px;
}

.searchbutton {
  display: none;
}

.searchmobile {
  display: none;
  margin-top: 8px;
}

.searchform {
  //margin-top: ($navbar-height/4);
  margin-right: -10px;
  margin-right: 15px;
}

.search_form label {
  font-weight: normal;
  color: $navbar-search-color;
}

.searchformdropdown .form-control:focus {
  border-color: transparent;
}

.searchform .form-control:focus {
  border-color: transparent;
}

.mobileheader .modulename a {
  background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&themeName=SuiteP&imageName=p_create_arrow.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&themeName=SuiteP&imageName=p_create_arrow.png");
  background-position: 92.5% 5px;
  background-repeat: no-repeat;
  padding: 15px 32px 18px 0;
}

.searchform.navbar-form {
  padding: 0;
}

.searchform .query_string {
  font-size: 13px;
  background-color: $navbar-search-bg;
  color: $navbar-search-text-color;
  padding: 12px 12px 12px 12px;
  border: 0px solid transparent;
  border-radius: 3px;
  letter-spacing: 1px;
  line-height: normal;
  width: 200px;
  min-height: 40px;
  -webkit-text-fill-color: $navbar-search-color;
  -webkit-box-shadow: 0 0 0 1000px $navbar-search-bg inset;
}

.searchform .query_string:-webkit-autofill {
  font-size: 13px;
  background-color: $navbar-search-bg;
  color: $navbar-search-text-color;
  padding: 12px 12px 12px 12px;
  border: 3px solid $navbar-search-bg;
  border-radius: 3px;
  float: left;
  letter-spacing: 1px;
  line-height: normal;
  width: 200px;
  min-height: 40px;
  -webkit-text-fill-color: $navbar-search-bg;
  -webkit-box-shadow: 0 0 0 1000px $navbar-search-bg inset;
}

.searchform button {
  display: block;
  background-color: #65697A;
  background-image: none, url("../../../../themes/SolarEdgeP/images/p_search_button.svg"), url("../../../../themes/SolarEdgeP/images/p_search_button.png");
  background-position: 14px 8px;
  background-repeat: no-repeat;
  color: $navbar-menu-link-color;
  padding: 10px 10px 10px 10px;
  margin-left: -50px;
  border: none;
  border-radius: 0 3px 3px 0;
  float: left;
  overflow: hidden;
  width: 50px;
  height: auto;
  text-indent: -9999px;
}

.searchform button:hover {
  background-color: $navbar-search-btn-bg;
  background-position: 14px -46px;
}

.globalLinks-desktop ul li a {
  text-decoration: none;
}

.globalLinks-desktop .user-dropdown {
  top: 100%;
  left: auto;
  right: -30px;
}

.dropdown-menu {
  top: 100%
}

#mobilegloballinks {
  display: inline;
}

.navbar-fixed-top {
  border: 0;
}

#userlinks {
  margin: 0 0 15px 10px;
}

#userlinks a {
  font-size: 1.1em;
  padding: 5px 10px 5px 10px;
}

.navbar-toggle {
  float: left;
}

#quickcreateplus {
  padding: 0 0 0 10px;
}

#quickcreatelinks {
  font-size: 1.1em;
  margin: 0 0 15px 12px;
}

.navbar-fixed-top {

  .recentlinks_top {
    margin-left: 2px;
    float: left;
    line-height: 32px;
    overflow: hidden;
    width: 75%;
    height: auto;
  }

  .recentlinks_topedit, li.recentlinks_topedit > a {
    line-height: 32px;
    height: auto;

  }

  .recentlinks_topedit > a {
    padding: 0 15px 0 15px;
  }

  .recentlinks_top > a {
    padding: 0 15px 0 15px;
    line-height: 32px;
    width: auto;
    height: auto;

  }
  .recentlinks_topedit {
    float: right;
    width: 20%;
  }

  .recentlinks_topedit a:focus {
    color: $navbar-menu-link-color;
  }

  .recentlinks_top a {
    width: 100%;
    height: 100%;
  }

  .recentlinks {
    display: block;
  }

  .favoritelinks {
    display: block;
  }
}

.modulename a {
  color: $navbar-link-color;
}

.grouptab:visited {
  background: none;
}

.grouptab:active {
  background: none;
}

.moremenu {
  padding: 8px 10px 8px 10px;
}

.nav .open > a {
  background: none;
}

.nav .open > a:hover {
  background: none;
}

.nav .open > a:focus {
  background: none;
}

.navbar-inverse .navbar-toggle {
  border: none;
}

.navbar-inverse .navbar-toggle:hover {
  background: none;
}

.navbar-inverse .navbar-toggle:focus {
  background: none;
}

.navbar-inverse .navbar-nav > .open > a {
  background: none;
  color: $navbar-menu-link-color;
}

.navbar-inverse .navbar-nav > .open > a:hover {
  background: none;
  color: $navbar-menu-link-color;
}

.navbar-inverse .navbar-nav > .open > a:focus {
  background: none;
  color: $navbar-menu-link-color;
}

.mobileheader .modulelinks ul li a {
  font-size: 14px;
}

.modulelinks {
  color: $navbar-menu-link-color;
  display: inline-block;
}

.navbar-right ~ .navbar-right {
  margin-right: 15px;
}

.quickcreatetop .dropdown-toggle {
  display: inline-block;
  font-size: 13px;
  background-color: $navbar-quick-create-btn-bg;
  background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_create_arrow.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_create_arrow.png");
  background-position: 80px 2px;
  background-repeat: no-repeat;
  color: $navbar-quick-create-link-color;
  padding: 10px 32px 14px 12px;
  border-radius: 3px;
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
}

.quickcreatetop .dropdown-toggle:hover {
  text-decoration: none;
}

.quickcreatetop .dropdown-menu li a:hover {
  background-color: $navbar-quick-create-btn-bg-hover;
  cursor: pointer;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-decoration: none;
}

.quickcreatetop .dropdown-menu {
  background-color: $navbar-quick-create-menu-bg;
  border-radius: 3px;
  border-top-right-radius: 0;
  text-decoration: none;
}

.quickcreatetop .dropdown-menu:hover {
  text-decoration: none;
}

.quickcreatetop ul li {
  padding: 0;
  margin: 0;
}

.quickcreatetop .dropdown-menu li a {
  display: block;
  font-size: 14px;
  background-color: $navbar-quick-create-menu-bg;
  background-image: none;
  padding: 12px 15px 12px 15px;
  margin: 0;
  border-bottom: 1px solid $navbar-quick-create-menu-seperator;
  border-radius: 0;
  letter-spacing: 0;
  text-align: left;
  width: 100%;
  text-transform: none;
}

.quickcreatetop .dropdown-menu .last a {
  border-bottom: none;
}

.quickcreatetop .dropdown-menu li a:hover {
  color: $navbar-quick-create-menu-color-hover;
}

.quickcreatetop .dropdown-menu {
  margin-top: 0;
}

.quickcreatetop .dropdown-menu li a {
  opacity: 1;
  color: $navbar-quick-create-menu-color;

}

.quickcreatetop .dropdown-menu li a:hover {
  opacity: 1;
}

.desktop_notifications > button {
  background-image: none, url("../../../../themes/SolarEdgeP/images/p_icon_alert.svg"), url("../../../../themes/SolarEdgeP/images/p_icon_alert.png");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.desktop_notifications > .dropdown-menu {
  left: auto;
}

.desktop_notifications a {
  cursor: pointer;
}

.desktop_notifications ul li {
  padding: 0;
  margin: 0;
}

.desktop_notifications ul li a {
  padding: 0 3px 0 3px;
  margin: 0;
  line-height: 35px;
}

.desktop_notifications .alertsButton {
  background-color: transparent;
  margin-top: 0;
  border: none;
}

.desktop_notifications .alert_count {
  display: block;
  position: relative;
  top: -16px;
  left: 24px;
  font-size: 10px;
  background-color: $navbar-alert-count-bg;
  color: $navbar-alert-count-link-color;
  border-radius: 30px;
  float: left;
  line-height: 20px;
  width: 20px;
  height: 20px;
}

.desktop_notifications .alert {
  margin-bottom: 8px;
}

.desktop_notifications .close {
  font-weight: normal;
  color: $navbar-alert-body-color;
  filter: none;
  line-height: 1;
  opacity: 1;
  text-shadow: none;
}

.desktop_notifications .alert {
  font-weight: normal;
  color: $navbar-alert-body-color;
  filter: none;
  line-height: 1;
  opacity: 1;
  text-shadow: none;
}

.desktop_notifications .close {
  position: relative;
  top: 0;
  right: 0;
  color: inherit;
}

.desktop_notifications .close span {
  color: $navbar-menu-link-color;
  margin-bottom: 0;
  margin-right: 0;
}

.desktop_notifications .dropdown-menu {
  font-size: 12px;
  background-color: $danger;
  color: $navbar-menu-link-color;
  padding: 8px;
  margin: 0;
  border-radius: 0;
}

.desktop_notifications .has-alerts {
  background-color: $navbar-main-menu-bg;
  border-radius: 2px;
}

.desktop_notifications .has-alerts .alert-info {
  background-color: inherit;
  color: $navbar-alert-link-color;
  padding: 0;
  border: 1px solid $navbar-alert-seperator;
  border-radius: 2px;

}

.desktop_notifications .has-alerts .text-info {
  color: $navbar-menu-link-color;
}

.desktop_notifications .has-alerts p {
  font-size: 12px;
  background-color: $main-bg;
  color: $main-font-color;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  line-height: 20px;
  max-width: 256px;
  min-height: 20px;
}

.desktop_notifications .has-alerts .alert-header {
  padding: 8px 15px 8px 15px;
  margin: 0;
}

.desktop_notifications .has-alerts p {
  padding: 8px 15px 8px 15px;
  margin: 0;
}

.desktop_notifications .has-alerts .alert-header {
  font-size: 14px;
  font-weight: bold;
  background-color: $navbar-alert-title-bg;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  line-height: 20px;
}

.desktop_notifications .has-alerts .alert-header img {
  width: 16px;
  height: 16px;
}

.modulelinks > .dropdown-menu {
  left: 50px;
}

.mobileheader {
  display: inline-block;
}


.globalLinks-desktop {
  .btn-default.active,
  .btn-default:active,
  .open>.dropdown-toggle.btn-default {
    background-color: $navbar-bg;
  }
}

/*when filters are turned off*/
.headerlinks {
  display: inline-block;
}




@media (max-width: 375px) {
  .navbar-search > .dropdown-menu {
    top: -($navbar-toolbar-height  + 12px);
    bottom: auto;
    left: auto;
    right: -50px;
    clear: both;
    width: auto;
  }
}

@media (min-width: 375px) and (max-width: 750px) {
  .navbar-search > .dropdown-menu {
    top: -($navbar-toolbar-height  + 12px);
    bottom: auto;
    left: auto;
    right: 0;
    clear: both;
    width: auto;
    overflow: visible;
  }
}


@media (max-width: 750px) {

  .modulelinks .dropdown-menu {
    top: $navbar-toolbar-height + 10px;
  }

  .desktop_notifications .has-alerts {
    background-color: $mobile-navbar-toolbar-bg;
  }

  .desktop_notifications .has-alerts .alert-header {
    background-color: $navbar-main-menu-bg;
    line-height: 20px;
  }
  .mobile-bar .user-dropdown {
    top: $navbar-toolbar-height - 12px;
    left: -140px;
  }

  .mobile-bar .btn {
    line-height: $navbar-toolbar-height;
  }

  .mobile-bar .desktop_notifications {
    // add margin for alert_count
    margin-right: 4px;
  }

  .mobile-bar .desktop_notifications .alert_count {
    top: -16px;
    left: 4px;
  }

  .mobile-bar .desktop_notifications .dropdown-menu.has-alerts {
    left: auto;
    right: 0;
  }

  .mobile-bar .desktop_notifications .dropdown-menu .has-alerts p {
    width: 100%;
  }
  .modulename {
    line-height: 60px;
  }

  .navbar-toggle {
    height: 60px;
  }

  .mobile_menu {
    top: 60px;
    left: 20px;
    z-index: 65530;
  }

  .quickcreatetop .dropdown-toggle {
    background-color: $navbar-quick-create-mobile-btn-bg;
    background-position: 80px -5px;
    padding: 5px 32px 5px 12px;
    text-decoration: none;
  }

  .quickcreatetop .dropdown-toggle:hover {
    text-decoration: none;
    cursor: default;
  }

  .navbar-search {
    position: relative;
    min-height: 28px;
  }

  .navbar-search .dropdown-menu {
    width: 100%;
  }

  .navbar-search .searchformdropdown .input-group {
    width: 100%;
  }

  .navbar-search .query_string {
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 4px;
    margin: 0;
    width: 80%;
  }

  .query_string {
    background-color: $navbar-search-bg;
    margin: 0;
    border: none;
    border-radius: 3px;
  }

  .navbar-search .searchbutton {
    background-color: transparent;
    background-image: none, url("../../../../themes/SolarEdgeP/images/p_search_button_small.svg"), url("../../../../themes/SolarEdgeP/images/p_search_button_small.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    padding: 0;
    //margin: 0 10px 0 0;
    border: none;
    overflow: hidden;
    width: 28px;
    height: 28px;
    line-height:  $navbar-toolbar-height;
    text-indent: -9999px;
  }

  .navbar-search.open .searchbutton {
    background-image: none, url("../../../../themes/SolarEdgeP/images/p_search_button_small.svg"), url("../../../../themes/SolarEdgeP/images/p_search_button_small.png");
    background-position: 0 0;
    background-color: transparent;
  }

  .navbar-search .dropdown-menu {
    width: 300px;
  }

  .searchformdropdown .btn {
    background-image: url("../../../../themes/SolarEdgeP/images/p_search_button.svg"), url("../../../../themes/SolarEdgeP/images/p_search_button.png");
    background-color: $navbar-search-bg;
  }

  .searchformdropdown .btn:hover {
    background-image: url("../../../../themes/SolarEdgeP/images/p_search_button.svg"), url("../../../../themes/SolarEdgeP/images/p_search_button.png");
    background-color: $navbar-search-btn-bg;
  }
  /* overridding bootstrap needs to be stacked */
  .globalLinks-mobile .btn-default.active.focus,
  .globalLinks-mobile .btn-default.active:focus,
  .globalLinks-mobile .btn-default.active:hover,
  .globalLinks-mobile .btn-default:active.focus,
  .globalLinks-mobile .btn-default:active:focus,
  .globalLinks-mobile .btn-default:active:hover,
  .globalLinks-mobile.open>.dropdown-toggle.btn-default.focus,
  .globalLinks-mobile.open>.dropdown-toggle.btn-default:focus,
  .globalLinks-mobile.open>.dropdown-toggle.btn-default:hover {
    color: $default-btn-color;
    background-color: transparent;
    border-color: transparent;
    background-image: url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon_small.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon_small.png");

  }

  .open.globalLinks > .btn-default:active {
    background-color: transparent;
    background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon_small.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon_small.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-top: 0;
    border: none;
    border-radius: 0;
    width: 28px;
    height: 28px;
  }

  .open.globalLinks > .btn-default:active:hover {
    background-color: transparent;
    background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon_small.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon_small.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-top: 0;
    border: none;
    border-radius: 0;
    width: 28px;
    height: 28px;
  }

  .open.globalLinks > .btn-default.focus:active {
    background-color: transparent;
    background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon_small.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon_small.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-top: 0;
    border: none;
    border-radius: 0;
    width: 28px;
    height: 28px;
  }

  .globalLinks-mobile > .btn-default.usermenucollapsed {
    background-color: transparent;
    background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon_small.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon_small.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-top: 0;
    border: none;
    border-radius: 0;
    width: 28px;
    height: 28px;
  }

  .desktop_notifications > button {
    background-color: $mobile-navbar-toolbar-bg;
    background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_icon_alert_small.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_icon_alert_small.png");
    background-position: 0 0;
    //margin-right: 20px;
    //float: left;
    width: 28px;
    height: 28px;
    border: none;
  }

  .desktop_notifications > button:hover {
    background-color: $mobile-navbar-toolbar-bg;
    background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_icon_alert_small.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_icon_alert_small.png");
    background-position: 0 0;
    background-color: $mobile-navbar-toolbar-bg;
    border: none;
  }

  .open > .dropdown-toggle.alertsButton.btn-danger:active {
    background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_icon_alert_small.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_icon_alert_small.png");
    background-position: 0 0;
    background-color: $mobile-navbar-toolbar-bg
  }

  .open > .dropdown-toggle.alertsButton.btn-danger:focus {
    background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_icon_alert_small.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_icon_alert_small.png");
    background-position: 0 0;
    background-color: $mobile-navbar-toolbar-bg
  }

  .open > .dropdown-toggle.alertsButton.btn-danger:hover {
    background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_icon_alert_small.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_icon_alert_small.png");
    background-position: 0 0;
    background-color: $mobile-navbar-toolbar-bg
  }

  /*override bootstrap*/
  .desktop_notifications .btn-success:focus,
  .desktop_notifications .btn-success.active,
  .desktop_notifications .btn-success:active,
  .desktop_notifications.open > .dropdown-toggle.btn-success {
    background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_icon_alert_small.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_icon_alert_small.png");
    background-position: 0 0;
    background-color: $mobile-navbar-toolbar-bg;
    border: none;
  }

  .navbar-inverse .mobile-bar .navbar-search .dropdown-menu {
    padding: 0;
  }

  .navbar-search .query_string {
    width: 150px;
  }
  .tablet-bar {
    display: none;
    visibility: collapse;
  }
  .navbar .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar .container-fluid .navbar-header {
    padding-left: 20px;
    padding-right: 20px;
    height: 60px;
  }

  .mobile-bar {
    background-color: $mobile-navbar-toolbar-bg;
    padding: 0 20px 0 0;
    margin-top: 0;
    width: 100%;
  }

  .mobile-bar ul {
    float: right;
  }

  .navbar {
    min-height: 60px;
  }

  .navbar-inverse {
    max-height: 60px;
  }

  .navbar-fixed-top {
    height: 60px;
  }

  .modulename {
    line-height: 60px;
    width: 100%;
    height: 60px;
  }

  .quickcreate {
    display: none;
  }

  .searchmobile {
    position: absolute;
    left: 60px;
    float: left;
    width: 70%;
    z-index: 50;
  }

  .searchmobile .query_string {
    box-shadow: none;
    border: none;
    border-radius: 0;
    float: left;
    outline: 0;
    width: 75%;
    -webkit-appearance: none;
  }

  .searchmobile {
    position: absolute;
    left: 60px;
    float: left;
    width: 80%;
    z-index: 50;
  }

  .searchmobile .query_string {
    box-shadow: none;
    color: $navbar-menu-link-color;
    border: none;
    border-radius: 0;
    float: left;
    outline: 0;
    width: 80%;
    -webkit-appearance: none;
  }
}

@media (min-width: 751px) {

  .mobile-bar {
    visibility: collapse;
    display: none;
  }

  .tablet-bar {
    display: inline-block;
    visibility: visible;
    width: 49%;
    text-align: right;
    line-height: 90px;
  }

  .tablet-bar > .toolbar {
    display: inline-block;
  }

  .tablet-bar > .toolbar > li {
    display: inline-block;
    line-height: normal;
  }

  .tablet-bar > .toolbar > li > .btn {
    margin: 0;
    height: $navbar-toolbar-height;
    width: $navbar-toolbar-height;
    padding: 0;
    line-height: normal;
  }

  .tablet-bar > .toolbar > li > a {
    line-height: normal;
  }

  .navbar-inverse .mobile-bar .nav {
    display: inline-block;
  }

  .modulename {
    line-height: $navbar-height;
  }

  .mobile_menu {
    left: 10px;
    -webkit-overflow-scrolling: touch;
  }

  .tablet-bar .navbar-inverse .nav {
    display: inline-block;
  }

  .tablet-bar .navbar-inverse .nav.navbar-search {
    display: inline-block;
  }

  .tablet-bar .user-dropdown {
    top: ($navbar-height / 1.5);
    left: -140px;
  }

  .tablet-bar > .dropdown-menu {
    position: absolute;
    top: $navbar-height;
    bottom: auto;
    left: -224px;
    right: 0;
    background: transparent;
  }

  .navbar-search .dropdown-menu {
    width: 100%;
  }

  .navbar-search .searchformdropdown .input-group {
    width: 100%;
  }

  .navbar-search .query_string {
    top: 0;
    left: 0;
    margin-top: 0;

  }

  .navbar-search .input-group-btn {
    top: 0;
    background: $navbar-search-bg;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }

  .quickcreatetop .dropdown-menu {
    background-position: 80px 2px;
    padding: 11px 32px 12px 12px;
  }

  .quickcreatetop .dropdown-menu:hover {
    text-decoration: none;
  }

  .quickcreatetop .dropdown-menu {
    left: 0;
    right: auto;
  }

  .usermenucollapsed.btn-default {
    background-color: transparent;
    background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-left: 0;
    border: none;
    width: 42px;
    height: 42px;
  }

  .usermenucollapsed.btn-default {
    background-position: 0 0;
    border: none;
    border-radius: 0;
  }

  /* overridding bootstrap needs to be stacked */
  .globalLinks-mobile .btn-default.active.focus,
  .globalLinks-mobile .btn-default.active:focus,
  .globalLinks-mobile .btn-default.active:hover,
  .globalLinks-mobile .btn-default:active.focus,
  .globalLinks-mobile .btn-default:active:focus,
  .globalLinks-mobile .btn-default:active:hover,
  .globalLinks-mobile.open>.dropdown-toggle.btn-default.focus,
  .globalLinks-mobile.open>.dropdown-toggle.btn-default:focus,
  .globalLinks-mobile.open>.dropdown-toggle.btn-default:hover {
    color: $default-btn-color;
    background-color: transparent;
    border-color: transparent;
    background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon.png");
  }
  .globalLinks-desktop {
    .btn-default.active,
    .btn-default:active,
    .open>.dropdown-toggle.btn-default {
      background-color: $navbar-bg;
      background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon.png");
    }
  }

  .open.globalLinks > .btn-default:active {
    background-color: transparent;
    background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-top: 0;
    border: none;
    border-radius: 0;
    width: 28px;
    height: 28px;
  }

  .open.globalLinks > .btn-default:active:hover {
    background-color: transparent;
    background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-top: 0;
    border: none;
    border-radius: 0;
    width: 42px;
    height: 42px;
  }

  .open.globalLinks > .btn-default.focus:active {
    background-color: transparent;
    background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-top: 0;
    border: none;
    border-radius: 0;
    width: 28px;
    height: 28px;
  }

  .globalLinks-mobile > .btn-default.usermenucollapsed {
    background-color: transparent;
    background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-top: 0;
    border: none;
    border-radius: 0;
    width: 42px;
    height: 42px;
  }


  .navbar-search {
    margin-right: 8px;
  }
  #Icon_5_ {
    fill: $navbar-menu-link-color;
  }

  .navbar-search .searchbutton {
    background-color: transparent;
    background-image: url("../../../../themes/SolarEdgeP/images/p_search_button.svg"), url("../../../../themes/SolarEdgeP/images/p_search_button.png");
    background-repeat: no-repeat;
    padding: 0;
    border: none;
    overflow: hidden;
    text-indent: -9999px;
    background-size: 25px auto;
    background-position: 15px -46px;
    width: 48px;
    height: 48px;
  }

  .navbar-search .btn-default.searchbutton:active {
    background-color: transparent;
    background-image: url("../../../../themes/SolarEdgeP/images/p_search_button.svg"), url("../../../../themes/SolarEdgeP/images/p_search_button.png");
    background-repeat: no-repeat;
    padding: 0;
    border: none;
    overflow: hidden;
    width: 26px;
    text-indent: -9999px;
    background-size: 25px auto;
    width: 48px;
    height: 48px;
  }

  .navbar-search .btn-default.searchbutton:hover {
    background-color: transparent;
    background-image: url("../../../../themes/SolarEdgeP/images/p_search_button.svg"), url("../../../../themes/SolarEdgeP/images/p_search_button.png");
    background-repeat: no-repeat;
    padding: 0;
    border: none;
    overflow: hidden;
    width: 26px;
    text-indent: -9999px;
    background-size: 25px auto;
    width: 48px;
    height: 48px;
  }

  .desktop-bar .navbar-search.open .dropdown-menu {
    top: -(($navbar-toolbar-height / 4) - 12px);
    right: $navbar-toolbar-height;
    left: auto;
    background-color: $navbar-bg;
    height: $navbar-toolbar-height;
    overflow: visible;
    width: auto;
  }

  .navbar-search .input-group-btn > .btn-default:hover {
    border: none;
  }

  .navbar-search.open .searchbutton {
    background-color: transparent;
    background-position: 0 0;
  }

  .tablet-bar .navbar-search.open .dropdown-menu {
    top: 0;
    right: $navbar-toolbar-height;
    bottom: auto;
    left: auto;
    background-color: $navbar-bg;
    min-width: 480px;
    min-height: $navbar-toolbar-height;
    height: $navbar-toolbar-height;
    overflow: visible;
    padding: 0;
  }

  .navbar-search.open .btn-default.searchbutton {
    background-color: transparent;
    background-image: url("../../../../themes/SolarEdgeP/images/sidebar/modules/search-close.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 38px 38px;
    padding: 12px 0 12px 0;
    border: none;
    overflow: hidden;
    width: $navbar-toolbar-height;
    text-indent: -9999px;
  }

  .navbar-search.open .btn-default.searchbutton:hover {
    background-color: transparent;
    background-image: url("../../../../themes/SolarEdgeP/images/sidebar/modules/search-close.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 38px 38px;
    padding: 12px 0 12px 0;
    border: none;
    overflow: hidden;
    width: $navbar-toolbar-height;
    text-indent: -9999px;
  }

  .desktop_notifications .btn-danger:hover {
    @include alertButton();
  }

  .desktop_notifications .btn-danger:focus {
    @include alertButton();
  }

  .desktop_notifications .btn-danger:active {
    @include alertButton();
  }

  .open > .dropdown-toggle.alertsButton.btn-danger:active {
    @include alertButton();
  }

  .open > .dropdown-toggle.alertsButton.btn-danger:focus {
    @include alertButton();
  }

  .open > .dropdown-toggle.alertsButton.btn-danger:hover {
    @include alertButton();
  }

  .navbar-header {
    width: 49%;
    display: inline-block;
  }

  #desktop_notifications {
    .btn-success.active.focus,
    .btn-success.active:focus,
    .btn-success.active:hover,
    .btn-success:active.focus,
    .btn-success:active:focus,
    .btn-success:active:hover {
      @include alertButton();
    }
  }

  #desktop_notifications.open {
    >.dropdown-toggle.btn-success,
    >.dropdown-toggle.btn-success.active,
    >.dropdown-toggle.btn-success:active,
    >.dropdown-toggle.btn-success.focus,
    >.dropdown-toggle.btn-success:focus,
    >.dropdown-toggle.btn-success:hover {
      @include alertButton();
    }
  }


  .desktop_notifications > .btn-success {
    @include alertButton();
  }

  .desktop_notifications > .btn-success:hover {
    background-color: $navbar-bg;
    color: #F5F5F5;
    border: none;
  }

  .desktop_notifications > .btn-success:active {
    @include alertButton();
  }

  .desktop_notifications > .btn-success:focus {
    @include alertButton();
  }
}

@media (max-width: 980px) {
  ul.navbar-nav li a {
    color: $navbar-menu-link-color;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: $navbar-menu-link-color;
  }
}

@media (min-width: 1024px) {
  .navbar-nav > li:hover ul {
    display: block;
  }

  .globalLinks-desktop:hover .dropdown-menu {
    display: block;
  }

  .quickcreatetop:hover .dropdown-menu {
    display: block;
  }

  a.menu:after {
    content: none;
  }

  .dropdown-toggle:after {
    content: none;
  }
}

@media (max-width: 1200px) {

  .desktop-bar {
    display: none;
    visibility: hidden;
  }

  .desktop-toolbar {
    display: none;
    visibility: hidden;
  }

  .usermenu {
    display: none;
  }

  .navbar-toggle {
    display: inline-block;
  }

  .mobile_menu {
    position: absolute;
    background: $navbar-main-menu-bg;
    padding: 4px 10px 4px 10px;
    margin: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    float: left;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 256px;

  }

  .mobile_menu li {
    list-style: none;
  }

  .mobile_menu a {
    display: block;
    font-size: 14px;
    color: $navbar-menu-link-color;
    padding: 12px 15px;

  }

  .mobile_menu a:hover {
    color: $navbar-menu-link-color-hover;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
  }

  .navbar-inverse .nav.globalLinks-mobile {
    display: inline-block;
  }

  .quickcreatetop {
    display: inline-block;
  }

  .desktop_notifications {
    display: inline-block;
  }

  .mobile-bar {
    margin-top: 0;
    height: $navbar-toolbar-height;
    line-height: $navbar-toolbar-height;
  }

  .mobile-bar li {
    line-height: normal;
    display: inline-block;
  }

  .mobile-bar .globalLinks-mobile .dropdown-menu li {
    display: block;
  }

  .mobile-bar .quickcreatetop .dropdown-menu li {
    display: block;
  }

  .mobile-bar .searchbutton.btn-default:hover {
    background-image: none, url("../../../../themes/SolarEdgeP/images/p_search_button_small.svg"), url("../../../../themes/SolarEdgeP/images/p_search_button_small.png");
    background-position: 0 0;
    border: none;
    background-color: $mobile-navbar-toolbar-bg;
  }

  .tablet-bar .input-group-btn > .btn {
    margin-left: 0;
  }

  .navbar-inverse .nav > .topnav {
    padding: 0 0 0 0;
  }
}

@media (min-width: 1201px) {
  .navbar-fixed-top > .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .mobileheader {
    display: none;
    visibility: hidden;
  }

  .desktop-toolbar {
    width: 70%;
  }

  .desktop-bar {
    display: inline-block;
    visibility: visible;
    text-align: right;
    width: 28%;
  }

  .desktop-toolbar .navbar-brand-container {
    margin-left: 30px;
  }

  .desktop-bar > .toolbar {
    display: inline-block;
  }

  .desktop-bar > .toolbar > li {
    display: inline-block;
  }

  .desktop-bar > .toolbar > li > .btn {
    margin: 0;
    height: $navbar-toolbar-height;
    width: $navbar-toolbar-height;
    padding: 0;
  }

  .globalLinks-mobile .dropdown-toggle {
    background-color: transparent;
    background-image: none, url("../../../../themes/SolarEdgeP/images/p_user_icon.svg"), url("../../../../themes/SolarEdgeP/images/p_user_icon.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-left: 0;
    border: none;
    width: 42px;
    height: 42px;
  }
  .tablet-bar {
    display: none;
    visibility: collapse;
  }
  .navbar-form {
    display: inline-block;
  }

  .navbar-header {
    display: none;
    visibility: collapse;
    float: none;
  }
  .desktop-toolbar {
    display: inline-block;
  }
  .desktop-toolbar {
    display: inline-block;
  }
  .usermenucollapsed.btn-default {
    display: inline-block;
    margin: 0 0 0 5px;
  }
  /* overridding bootstrap needs to be stacked */
  .globalLinks-desktop .btn-default.active.focus,
  .globalLinks-desktop .btn-default.active:focus,
  .globalLinks-desktop .btn-default.active:hover,
  .globalLinks-desktop .btn-default:active.focus,
  .globalLinks-desktop .btn-default:active:focus,
  .globalLinks-desktop .btn-default:active:hover,
  .globalLinks-desktop.open>.dropdown-toggle.btn-default.focus,
  .globalLinks-desktop.open>.dropdown-toggle.btn-default:focus,
  .globalLinks-desktop.open>.dropdown-toggle.btn-default:hover {
    color: $default-btn-color;
    background-color: transparent;
    border-color: transparent;
    background-image: none, url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon.svg"), url("../../../../index.php?entryPoint=getImage&themeName=SuiteP&imageName=p_user_icon.png");

  }
}

.topnav #overflow-menu > li.with-actions .dropdown-menu {
  display: none;
  visibility: collapse;
}

.topnav #overflow-menu > li.with-actions > span > a {
  padding: 12px 15px;
  display: block;
  border-bottom: none;
}

.topnav #overflow-menu > li.with-actions {
  border-bottom: 1px solid $navbar-menu-seperator;
}

.topnav #overflow-menu > li.with-actions .notCurrentTabLeft {
  display: none;
  visibility: collapse;
}

@media (min-width: 1250px) {
  .desktop-bar {
    display: inline-block;
    visibility: visible;
    text-align: right;
  }
}



@media (max-width: 1399px) {
  .navbar-inverse .nav > .topnav {
    padding: 0 0 0 0;
  }
}

@media (max-width: 1399px) {
  .usermenu {
    display: none;
  }

  .searchform {
    display: none;
  }

  .globalLinks-mobile {
    padding: 0;
    border: none;
  }

  .navbar-form .form-control {
    margin: 8px 0 0 0;
  }

  .usermenucollapsed.btn-default {
    display: inline;
  }

  .usermenucollapsed.btn-default-mobile {
    display: inline;
  }

  .searchbutton {
    display: inline;
  }

  .navbar-search .dropdown-menu {
    background-color: transparent;
    /*top: 14px;*/
    /*right: 6px;*/
  }

  .navbar-search .query_string {
    font-size: 14px;
    background-color: $navbar-search-bg;
    color: $navbar-search-text-color;
    border: none;
    border-radius: 3px;
    letter-spacing: 1px;
    height: auto;
  }
}

@media (max-width: 1560px) {


  .modulename {
    font-size: 14px;
    margin: 0 auto 0 15px;
    letter-spacing: 2px;
    text-align: left;
    text-transform: uppercase;
    visibility: visible;
  }


  .navbar-fixed-top {
    height: $navbar-height;
    max-height: $navbar-height;
  }

  .searchform {
    display: none;
  }

  .navbar-form .form-control {
    margin: 8px 0 0 0;
  }

  .searchbutton {
    display: inline;
  }

  .desktop_notifications .dropdown-menu {
    left: -140px;
  }

  .topnav .dropdown-menu {
    left: 0;
  }

  .navbar-search .dropdown-menu button:active {
    display: block;
    background-color: transparent;
    background-image: none, url("../../../../themes/SolarEdgeP/images/p_search_button.svg"), url("../../../../themes/SolarEdgeP/images/p_search_button.png");
    background-position: 13px 10px;
    background-repeat: no-repeat;
    color: $navbar-menu-link-color;
    padding: 12px 12px 12px 12px;
    margin-left: -50px;
    border: none;
    float: left;
    overflow: hidden;
    width: 50px;
    text-indent: -9999px;
  }

  .searchformdropdown .btn {
    background-color: $navbar-search-bg;
  }

  .searchformdropdown .btn:hover {
    background-color: $navbar-search-btn-bg;
  }

  .searchformdropdown button:focus {
    display: block;
    background-image: none, url("../../../../themes/SolarEdgeP/images/p_search_button.svg"), url("../../../../themes/SolarEdgeP/images/p_search_button.png");
    background-position: 13px 10px;
    background-repeat: no-repeat;
    color: $navbar-menu-link-color;
    padding: 12px 12px 12px 12px;
    margin-left: -50px;
    border: none;
    float: left;
    overflow: hidden;
    width: 50px;
    text-indent: -9999px;
  }

  .searchformdropdown button {
    margin: 0;
    display: block;
    background-image: none, url("../../../../themes/SolarEdgeP/images/p_search_button.svg"), url("../../../../themes/SolarEdgeP/images/p_search_button.png");
    background-position: 5px 10px;
    background-repeat: no-repeat;
    color: $navbar-menu-link-color;
    padding: 0;
    margin-left: -50px;
    border: none;
    float: left;
    overflow: hidden;
    height: $input-line-height;
    width: $input-line-height;
    text-indent: -9999px;
  }

  .searchformdropdown .btn-group button:hover {
    padding: 0;
  }

  .navbar-search > .dropdown-menu {
    background-color: transparent;
    width: 200px;
  }

  .navbar-search .query_string {
    font-size: 14px;
    background-color: $navbar-search-bg;
    color: $navbar-search-text-color;
    padding: 0 4px 0 4px;
    border: none;
    border-radius: 3px;
    letter-spacing: 1px;
    width: 200px;
    height: auto;
  }

  .globalLinks-desktop .dropdown-toggle {
    background-color: transparent;
    background-image: none, url("../../../../themes/SolarEdgeP/images/p_user_icon.svg"), url("../../../../themes/SolarEdgeP/images/p_user_icon.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    margin-left: 0;
    border: none;
    width: 48px;
    height: 48px;
  }
}

@media (min-width: 1561px) {
  .desktop-toolbar {
    width: 60%;
  }
  .desktop-bar {
    width: 39%;
  }
  .navbar-form.searchform .input-group-btn {
    background: $navbar-search-bg;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
  .navbar-form.searchform .input-group-btn .btn {
    padding: 0 10px;
    height: 36px;
  }

  .navbar-form.searchform .input-group-btn .btn:hover {
    border: none;
    border-width: 0;
  }
}

@media (max-width: 1600px) {

  .globalLinks-desktop .with-label {
    display: none;
    visibility: collapse;
  }
}
@media (min-width: 1600px) {

  .globalLinks-desktop .with-label {
    display: inline-block;
    visibility: visible;
    background-color: $navbar-bg;
    border: none;
    color: $navbar-menu-link-color;
    padding-left: 0;
  }

  .usermenucollapsed .caret {
    display: inline-block;
    visibility: visible;
    color: $navbar-menu-link-color;
  }
}

/* dropdown vertical size fixes */
/* mobile small */
.modulelinks > ul {
  height: 200px;
  max-height: 200px;
}

.mobileheader ul {
  height: 200px;
  max-height: 200px;
}

.mobile_menu {
  height: 200px;
  max-height: 200px;
}

.mobile_menu .create-module-record {
  display: inline-block;
}

.navbar-fixed-top {
  .navbar-header .dropdown-menu {
    height: 200px;
    max-height: 200px;
  }

  .with-actions > .dropdown-menu {
    height: 200px;
    max-height: 200px;
  }

  .moremenu ul {
    height: 200px;
    max-height: 200px;
  }

  .dropdown-menu {
    height: 200px;
    max-height: 200px;
  }

  .dropdown-menu.has-alerts {
    width: auto;
  }

  .navbar-fixed-bottom .navbar-collapse {
    height: 200px;
    max-height: 200px;
  }
}

.navbar-fixed-top .navbar-collapse {
  height: 200px;
  max-height: 200px;
}

.navbar-fixed-bottom .navbar-collapse {
  overflow-y: scroll;
  height: 200px;
  max-height: 200px;
}

.navbar-fixed-top .navbar-collapse {
  overflow-y: scroll;
  height: 200px;
  max-height: 200px;
}

/*mobile medium*/
@media (min-height: 380px) {
  .navbar-fixed-top {
    .navbar-header .dropdown-menu {
      height: auto;
      max-height: 200px;
    }

    .topnav .dropdown-menu {
      height: auto;
      max-height: 200px;
    }

    .with-actions > .dropdown-menu {
      height: auto;
      max-height: 200px;
    }

    .moremenu ul {
      height: auto;
      max-height: 200px;
    }

    .dropdown-menu {
      height: auto;
      max-height: 200px;
    }

    .modulelinks > ul {
      height: 280px;
      max-height: 280px;
    }

    .mobileheader ul {
      height: 280px;
      max-height: 280px;
    }

    .mobile_menu {
      height: 280px;
      max-height: 280px;
    }
  }

  .navbar-fixed-bottom .navbar-collapse {
    height: 280px;
    max-height: 280px;
  }

  .navbar-fixed-top .navbar-collapse {
    height: 280px;
    max-height: 280px;
  }
}

/* mobile large*/
@media (min-height: 480px) {
  .navbar-fixed-top {
    .navbar-header .dropdown-menu {
      height: auto;
      max-height: 380px;
    }

    .topnav .dropdown-menu {
      height: auto;
      max-height: 380px;
    }

    .with-actions > .dropdown-menu {
      height: auto;
      max-height: 380px;
    }

    .moremenu ul {
      height: auto;
      max-height: 380px;
    }

    .dropdown-menu {
      height: auto;
      max-height: 380px;
    }

    .modulelinks > ul {
      height: auto;
      max-height: 380px;
    }
    .mobileheader ul {
      height: auto;
      max-height: 380px;
    }
    .mobile_menu {
      height: auto;
      max-height: 380px;
    }
  }

  .navbar-fixed-bottom .navbar-collapse {
    height: 380px;
    max-height: 380px;
  }

  .navbar-fixed-top .navbar-collapse {
    height: 380px;
    max-height: 380px;
  }

}

@media (min-width: 768px) and (min-height: 381px) {
  .mobile-bar .globalLinks-mobile {
    height: $navbar-height;
  }
}

@media (min-width: 768px) and (min-height: 381px) {
  .mobile-bar .globalLinks-mobile {
    height: $navbar-height;
  }
}

/* 720p / ipad */
@media (min-height: 700px) {
  .navbar-fixed-top {
    .navbar-header .dropdown-menu {
      height: auto;
      max-height: 620px;
    }

    .topnav .dropdown-menu {
      height: auto;
      max-height: 620px;
    }

    .with-actions > .dropdown-menu {
      height: auto;
      max-height: 620px;
    }

    .moremenu ul {
      height: auto;
      max-height: 620px;
    }

    .dropdown-menu {
      height: auto;
      max-height: 620px;
    }

    .modulelinks > ul {
      max-height: 620px;
    }

    .mobileheader ul {
      max-height: 620px;
    }

    .mobile_menu {
      max-height: 620px;
    }
  }
  .navbar-fixed-bottom .navbar-collapse {
    height: 620px;
    max-height: 620px;
  }

  .navbar-fixed-top .navbar-collapse {
    height: 620px;
    max-height: 620px;
  }
}

/* 720p-1080p*/
@media (min-height: 820px) {
  .navbar-fixed-top {
    .navbar-header .dropdown-menu {
      overflow-y: auto;
      height: auto;
      max-height: 700px;
    }

    .topnav .dropdown-menu {
      overflow-y: auto;
      height: auto;
      max-height: 700px;
    }

    .with-actions > .dropdown-menu {
      overflow-y: auto;
      height: auto;
      max-height: 700px;
    }

    .moremenu ul {
      overflow-y: auto;
      height: auto;
      max-height: 700px;
    }

    .dropdown-menu {
      overflow-y: auto;
      height: auto;
      max-height: 700px;
    }

  }
  .navbar-fixed-bottom .navbar-collapse {
    overflow-y: auto;
    height: 620px;
    max-height: 620px;
  }

  .navbar-fixed-top .navbar-collapse {
    overflow-y: auto;
    height: 620px;
    max-height: 620px;
  }

}

/* 1080p*/
@media (min-height: 920px) {
  .navbar-header .dropdown-menu {
    height: auto;
    max-height: 820px;
  }

  .topnav .dropdown-menu {
    height: auto;
    max-height: 820px;
  }

  .with-actions > .dropdown-menu {
    height: auto;
    max-height: 820px;
  }

  .moremenu ul {
    height: auto;
    max-height: 820px;
  }

  .dropdown-menu {
    height: auto;
    max-height: 820px;
  }

}

/* 2K and above */
@media (min-height: 1080px) {
  .navbar-header .dropdown-menu {
    height: auto;
    max-height: inherit;
  }

  .topnav .dropdown-menu {
    height: auto;
    max-height: inherit;
  }

  .with-actions > .dropdown-menu {
    height: auto;
    max-height: inherit;
  }

  .moremenu ul {
    height: auto;
    max-height: inherit;
  }

  .dropdown-menu {
    height: auto;
    max-height: inherit;
  }

}