{include file="modules/DynamicFields/templates/Fields/Forms/coreTop.tpl"}

<input type="hidden" name="required" value="0">
<input type="hidden" name="audited" value="0">
<input type="hidden" name="inline_edit" value="0">
<input type="hidden" name="importable" value="false">
<input type="hidden" name="duplicate_merge" value="0">
