.dtbc_role_layout_selector {
	display: none;
}

.dtbc_role_layout_selector #settings_table select {
	height: 25px;
	line-height: 25px;
}

.dtbc_role_layout_selector #settings_table td {
	font-weight: bold;
	padding: 5px;
}

.dtbc_role_layout_selector #settings_table td.first {
	min-width: 100px;
	
}