body{
 
    width: 50%;
    margin: 0 auto;
}

hr{
    
    height: 3px;
    background-color: black;
}

h3{
    
    color: gray;
	font-size: 16px;
}

td { 
    padding: 10px;
}

.panel-heading{
	display: none !important;
}

.tab-pane{
	display: none !important;
}

.dcQuickEdit{
	display: none !important;
}

#EditView_tabs div{
	margin-bottom: 10px;
	padding: 0px;
}

input[type="radio"] {
  margin-right: 5px;
}

#EditView_tabs div label{
	margin-right: 15px;
}

#description{
	width: 70% !important;
}