
{assign var="value" value={{sugarvar key='value' string=true}} }

<span class="sugar_field" id="{{sugarvar key='name'}}">{$value}</span>
{{if !empty($displayParams.enableConnectors)}}
{if !empty($value)}
{{sugarvar_connector view='DetailView'}}
{/if}
{{/if}}