<!--
/**
 *
 * SugarCRM Community Edition is a customer relationship management program developed by
 * SugarCRM, Inc. Copyright (C) 2004-2013 SugarCRM Inc.
 *
 * SuiteCRM is an extension to SugarCRM Community Edition developed by SalesAgility Ltd.
 * Copyright (C) 2011 - 2017 SalesAgility Ltd.
 *
 * This program is free software; you can redistribute it and/or modify it under
 * the terms of the GNU Affero General Public License version 3 as published by the
 * Free Software Foundation with the addition of the following permission added
 * to Section 15 as permitted in Section 7(a): FOR ANY PART OF THE COVERED WORK
 * IN WHICH THE COPYRIGHT IS OWNED BY SUGARCRM, SUGARCRM DISCLAIMS THE WARRANTY
 * OF NON INFRINGEMENT OF THIRD PARTY RIGHTS.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
 * details.
 *
 * You should have received a copy of the GNU Affero General Public License along with
 * this program; if not, see http://www.gnu.org/licenses or write to the Free
 * Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
 * 02110-1301 USA.
 *
 * You can contact SugarCRM, Inc. headquarters at 10050 North Wolfe Road,
 * SW2-130, Cupertino, CA 95014, USA. or at email address contact@sugarcrm.com.
 *
 * The interactive user interfaces in modified source and object code versions
 * of this program must display Appropriate Legal Notices, as required under
 * Section 5 of the GNU Affero General Public License version 3.
 *
 * In accordance with Section 7(b) of the GNU Affero General Public License version 3,
 * these Appropriate Legal Notices must retain the display of the "Powered by
 * SugarCRM" logo and "Supercharged by SuiteCRM" logo. If the display of the logos is not
 * reasonably feasible for technical reasons, the Appropriate Legal Notices must
 * display the words "Powered by SugarCRM" and "Supercharged by SuiteCRM".
 */
-->
<!-- BEGIN: Quote_Subject -->
<p>Devis SuiteCRM - {QUOTE_SUBJECT}</p>
<!-- END: Quote_Subject -->
<!-- BEGIN: Quote -->
<p><b>{ASSIGNER}</b> a assigné un devis à <b>{ASSIGNED_USER}</b>.</p>
<p>
Sujet : {QUOTE_SUBJECT}<br />
Statut : {QUOTE_STATUS}<br />
Date d'expiration : {QUOTE_CLOSEDATE}<br />
Description : {QUOTE_DESCRIPTION}
</p>
<p>Vous pouvez <a href={URL}>vérifier ce devis</a>.</p>
<!-- END: Quote -->

<!-- BEGIN: Account_Subject -->
<p>Compte SuiteCRM - {ACCOUNT_NAME}</p>
<!-- END: Account_Subject -->
<!-- BEGIN: Account -->
<p><b>{ASSIGNER}</b> a assigné un compte à <b>{ASSIGNED_USER}</b>.</p>
<p>
Nom : {ACCOUNT_NAME}<br />
Type : {ACCOUNT_TYPE}<br />
Description : {ACCOUNT_DESCRIPTION}
</p>
<p>Vous pouvez <a href={URL}>vérifier ce compte</a>.</p>
<!-- END: Account -->

<!-- BEGIN: Case_Subject -->
<p>Ticket SuiteCRM : {CASE_SUBJECT}</p>
<!-- END: Case_Subject -->
<!-- BEGIN: Case -->
<p><b>{ASSIGNER}</b> a assigné un ticket à <b>{ASSIGNED_USER}</b>.</p>
<p>
Sujet : {CASE_SUBJECT}<br />
Priorité : {CASE_PRIORITY}<br />
Statut : {CASE_STATUS}<br />
Description : {CASE_DESCRIPTION}
</p>
<p>Vous pouvez <a href={URL}>vérifier ce ticket</a>.</p>
<!-- END: Case -->

<!-- BEGIN: Task_Subject -->
<p>Tâche SuiteCRM - {TASK_SUBJECT}</p>
<!-- END: Task_Subject -->
<!-- BEGIN: Task -->
<p><b>{ASSIGNER}</b> a assigné une tâche à <b>{ASSIGNED_USER}</b>.</p>
<p>
Sujet : {TASK_SUBJECT}<br />
Priorité : {TASK_PRIORITY}<br />
Date d'échéance : {TASK_DUEDATE}<br />
Statut : {TASK_STATUS}<br />
Description : {TASK_DESCRIPTION}
</p>
<p>Vous pouvez <a href={URL}>vérifier cette tâche</a>.</p>
<!-- END: Task -->

<!-- BEGIN: Meeting_Subject -->
<p>Réunion SuiteCRM - {MEETING_SUBJECT}</p>
<!-- END: Meeting_Subject -->
<!-- BEGIN: Meeting -->
<p>À: {MEETING_TO}</p>
<p><b>{ASSIGNER}</b> vous à invité à une réunion</p>
<p>
Sujet : {MEETING_SUBJECT}<br />
Emplacement : {MEETING_LOCATION}<br />
Début : {MEETING_STARTDATE}<br />
Fin : {MEETING_ENDDATE}
</p>
<p>
<!-- BEGIN: Meeting_External_API -->
Lien vers la réunion : {MEETING_URL}
</p>
<!-- END: Meeting_External_API -->
<p>Description : {MEETING_DESCRIPTION}<br />
</p>
<p>---</p>
<p><a href={ACCEPT_URL}&accept_status=accept>Accepter cette réunion</a>.</p>
<p><a href={ACCEPT_URL}&accept_status=tentative>Accepter provisoirement cette réunion</a>.</p>
<p><a href={ACCEPT_URL}&accept_status=decline>Refuser cette réunion</a>.</p>
<!-- END: Meeting -->

<!-- BEGIN: MeetingSpecial_Subject -->
<p>Réunion SuiteCRM - {MEETING_SUBJECT}</p>
<!-- END: MeetingSpecial_Subject -->
<!-- BEGIN: MeetingSpecial -->
<p><b>{ASSIGNER}</b> a assigné une réunion à <b>{ASSIGNED_USER}</b>.</p>
<p>
Sujet : {MEETING_SUBJECT}<br />
Emplacement : {MEETING_LOCATION}<br />
Statut : {MEETING_STATUS}<br />
Début : {MEETING_STARTDATE}<br />
Fin : {MEETING_ENDDATE}<br />
Description : {MEETING_DESCRIPTION}
</p>
<p>Vous pouvez <a href={URL}>vérifier cette réunion</a>.</p>
<!-- END: MeetingSpecial -->

<!-- BEGIN: MeetingReminder_Subject -->
<p>Rappel de la réunion : {MEETING_SUBJECT}</p>
<!-- END: MeetingSpecial_Subject -->
<!-- BEGIN: MeetingReminder -->
<p>
    Titre : {MEETING_SUBJECT}<br />     
Date : {MEETING_STARTDATE}<br />
Emplacement : {MEETING_LOCATION}<br />
Créé par : {MEETING_CREATED_BY}
</p>
<!-- END: MeetingReminder -->

<!-- BEGIN: Email_Subject -->
<p>E-mail SuiteCRM - {EMAIL_SUBJECT}</p>
<!-- END: Email_Subject -->
<!-- BEGIN: Email -->
<p><b>{ASSIGNER}</b> a assigné un E-mail à <b>{ASSIGNED_USER}</b>.</p>
<p>
Sujet : {EMAIL_SUBJECT}<br />
Date d'envoi : {EMAIL_DATESENT}
</p>
<p>Vous pouvez <a href={URL}>vérifier cet E-mail</a>.</p>
<!-- END: Email -->

<!-- BEGIN: Contact_Subject -->
<p>Contact SuiteCRM - {CONTACT_NAME}</p>
<!-- END: Contact_Subject -->
<!-- BEGIN: Contact -->
<p><b>{ASSIGNER}</b> a assigné un contact à <b>{ASSIGNED_USER}</b>.</p>
<p>
Nom : {CONTACT_NAME}<br />
Description : {CONTACT_DESCRIPTION}
</p>
<p>Vous pouvez <a href={URL}>vérifier ce contact</a>.</p>
<!-- END: Contact -->

<!-- BEGIN: Lead_Subject -->
<p>Prospect SuiteCRM - {LEAD_NAME}</p>
<!-- END: Lead_Subject -->
<!-- BEGIN: Lead -->
<p><b>{ASSIGNER}</b> a assigné un prospect à <b>{ASSIGNED_USER}</b>.</p>
<p>
Nom : {LEAD_NAME}<br />
Origine du lead : {LEAD_SOURCE}<br />
Statut : {LEAD_STATUS}<br />
Description : {LEAD_DESCRIPTION}
</p>
<p>Vous pouvez <a href={URL}>vérifier ce prospect</a>.</p>
<!-- END: Lead -->

<!-- BEGIN: Opportunity_Subject -->
<p>Affaire SuiteCRM - {OPPORTUNITY_NAME}</p>
<!-- END: Opportunity_Subject -->
<!-- BEGIN: Opportunity -->
<p><b>{ASSIGNER}</b> a assigné une opportunité à <b>{ASSIGNED_USER}</b>.</p>
<p>
Nom : {OPPORTUNITY_NAME}<br />
Montant : {OPPORTUNITY_AMOUNT}<br />
Date de clôture prévue : {OPPORTUNITY_CLOSEDATE}<br />
Étape de vente : {OPPORTUNITY_STAGE}<br />
Description : {OPPORTUNITY_DESCRIPTION}
</p>
<p>Vous pouvez <a href={URL}>vérifier cette opportunité</a>.</p>
<!-- END: Opportunity -->

<!-- BEGIN: Bug_Subject -->
<p>Bug SuiteCRM - {BUG_SUBJECT}</p>
<!-- END: Bug_Subject -->
<!-- BEGIN: Bug -->
<p><b>{ASSIGNER}</b> a assigné un bug à <b>{ASSIGNED_USER}</b>.</p>
<p>
N° de bug : {BUG_BUG_NUMBER}<br />
Sujet : {BUG_SUBJECT}<br />
Type : {BUG_TYPE}<br />
Priorité : {BUG_PRIORITY}<br />
Statut : {BUG_STATUS}<br />
Résolution : {BUG_RESOLUTION}<br />
Version : {BUG_RELEASE}<br />
Description : {BUG_DESCRIPTION}<br />
Log de travail : {BUG_WORK_LOG}
</p>
<p>Vous pouvez <a href={URL}>vérifier ce bug</a>.</p>
<!-- END: Bug -->

<!-- BEGIN: Default_Subject -->
<p>SuiteCRM - Assigné {OBJECT}</p>
<!-- END: Default_Subject -->
<!-- BEGIN: Default -->
<p><b>{ASSIGNER}</b> a assigné un(e) {OBJECT} à <b>{ASSIGNED_USER}</b>.</p>
<p>Vous pouvez <a href={URL}>vérifier ce {OBJECT}</a>.</p>
<!-- END: Default -->

<!-- BEGIN: Call_Subject -->
<p>SuiteCRM Appel - {CALL_SUBJECT}</p>
<!-- END: Call_Subject -->
<!-- BEGIN: Call -->
<p>À : {CALL_TO}</p>
<p><b>{ASSIGNER}</b> vous à invité à une appel</p>
<p>
Sujet : {CALL_SUBJECT}<br />
Statut : {CALL_STATUS}<br />
Date de début : {CALL_STARTDATE}<br />
Durée : {CALL_HOURS}h, {CALL_MINUTES}m<br />
Description : {CALL_DESCRIPTION}<br />
</p>
<p>---</p>
<p><a href={ACCEPT_URL}&accept_status=accept>Accepter cet appel</a>.</p>
<p><a href={ACCEPT_URL}&accept_status=tentative>Accepter provisoirement cet appel</a>.</p>
<p><a href={ACCEPT_URL}&accept_status=decline>Refuser cet appel</a>.</p>
<!-- END: Call -->

<!-- BEGIN: CallSpecial_Subject -->
<p>SuiteCRM Appel - {CALL_SUBJECT}</p>
<!-- END: CallSpecial_Subject -->
<!-- BEGIN: CallSpecial -->
<p><b>{ASSIGNER}</b> a assigné un appel à <b>{ASSIGNED_USER}</b>.</p>
<p>
Sujet : {CALL_SUBJECT}<br />
Statut : {CALL_STATUS}<br />
Date de début : {CALL_STARTDATE}<br />
Durée : {CALL_HOURS}h, {CALL_MINUTES}m<br />
Description : {CALL_DESCRIPTION}
</p>
<p>Vous pouvez <a href={URL}>vérifier cet appel</a>.</p>
<!-- END: CallSpecial -->

<!-- BEGIN: CallReminder_Subject -->
<p>Rappel de l'appel : {CALL_SUBJECT}</p>
<!-- END: CallReminder_Subject -->
<!-- BEGIN: CallReminder -->
<p>
    Titre : {CALL_SUBJECT}<br />
    Quand : {CALL_STARTDATE}<br />
    Créé par : {CALL_CREATED_BY}
</p>
<!-- END: CallReminder -->

<!-- BEGIN: Campaign_Subject -->
<p>Campagne SuiteCRM - {CAMPAIGN_NAME}</p>
<!-- END: Campaign_Subject -->
<!-- BEGIN: Campaign -->
<p><b>{ASSIGNER}</b> a assigné une campagne à <b>{ASSIGNED_USER}</b>.</p>
<p>
Sujet : {CAMPAIGN_NAME}<br />
Montant : {CAMPAIGN_AMOUNT}<br />
Date de clôture : {CAMPAIGN_CLOSEDATE}<br />
Statut : {CAMPAIGN_STATUS}<br />
Description : {CAMPAIGN_DESCRIPTION}
</p>
<p>Vous pouvez <a href={URL}>vérifier cette campagne</a>.</p>
<!-- END: Campaign -->

<!-- BEGIN: Quota_Subject -->
<p>Quotas SuiteCRM - votre Quota pour {QUOTA_TIMEPERIOD}</p>
<!-- END: Quota_Subject -->
<!-- BEGIN: Quota -->
<p><b>{ASSIGNER}</b> a assigné un quota à <b>{ASSIGNED_USER}</b>.</p>
<p>
Montant : {QUOTA_AMOUNT}<br />
Période : {QUOTA_TIMEPERIOD}
</p>
<p>Vous pouvez <a href={QUOTA_URL}>vérifier cette affectation de quota</a>.</p>
<!-- END: Quota -->

<!-- BEGIN: KBDocument_Subject -->
<p>Document SuiteCRM - {KBDOCUMENT_NAME}</p>
<!-- END: KBDocument_Subject -->
<!-- BEGIN: KBDocument -->
{NOTIFICATION_MESSAGE}

<p>
Nom : {KBDOCUMENT_NAME}<br />
Date de création : {KBDOCUMENT_DATE_CREATED}<br />
Créé par : {KBDOCUMENT_CREATED_BY}<br />
Statut : {KBDOCUMENT_STATUS}<br />
Description : {KBDOCUMENT_DESCRIPTION}
</p>
<p>Vous pouvez <a href={URL}>vérifier ce document</a>.</p>
<!-- END: KBDocument -->

<!-- BEGIN: Contract_Subject -->
<p>Contrat SuiteCRM - {CONTRACT_NAME}</p>
<!-- END: Contract_Subject -->
<!-- BEGIN: Contract-->
<p><b>{ASSIGNER}</b> a assigné un contrat à <b>{ASSIGNED_USER}</b>.</p>
<p>Vous pouvez <a href={URL}>vérifier ce contrat</a>.</p>
<!-- END:Contract-->

<!-- BEGIN: ContractSpecial_Subject -->
<p>Contrat SuiteCRM - {CONTRACT_NAME}</p>
<!-- END: ContractSpecial_Subject -->
<!-- BEGIN: ContractSpecial -->
<p>Votre contrat : {CONTRACT_NAME} va expirer le {CONTRACT_END_DATE}.</p>
<p>Vous pouvez <a href={URL}>vérifier ce contrat</a>.</p>
<!-- END:ContractSpecial-->
