<!--
/**
 *
 * SugarCRM Community Edition is a customer relationship management program developed by
 * SugarCRM, Inc. Copyright (C) 2004-2013 SugarCRM Inc.
 *
 * SuiteCRM is an extension to SugarCRM Community Edition developed by SalesAgility Ltd.
 * Copyright (C) 2011 - 2017 SalesAgility Ltd.
 *
 * This program is free software; you can redistribute it and/or modify it under
 * the terms of the GNU Affero General Public License version 3 as published by the
 * Free Software Foundation with the addition of the following permission added
 * to Section 15 as permitted in Section 7(a): FOR ANY PART OF THE COVERED WORK
 * IN WHICH THE COPYRIGHT IS OWNED BY SUGARCRM, SUGARCRM DISCLAIMS THE WARRANTY
 * OF NON INFRINGEMENT OF THIRD PARTY RIGHTS.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
 * FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more
 * details.
 *
 * You should have received a copy of the GNU Affero General Public License along with
 * this program; if not, see http://www.gnu.org/licenses or write to the Free
 * Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA
 * 02110-1301 USA.
 *
 * You can contact SugarCRM, Inc. headquarters at 10050 North Wolfe Road,
 * SW2-130, Cupertino, CA 95014, USA. or at email address contact@sugarcrm.com.
 *
 * The interactive user interfaces in modified source and object code versions
 * of this program must display Appropriate Legal Notices, as required under
 * Section 5 of the GNU Affero General Public License version 3.
 *
 * In accordance with Section 7(b) of the GNU Affero General Public License version 3,
 * these Appropriate Legal Notices must retain the display of the "Powered by
 * SugarCRM" logo and "Supercharged by SuiteCRM" logo. If the display of the logos is not
 * reasonably feasible for technical reasons, the Appropriate Legal Notices must
 * display the words "Powered by SugarCRM" and "Supercharged by SuiteCRM".
 */
-->
<!-- BEGIN: Quote_Subject -->
<p>SuiteCRM Offerte - {QUOTE_SUBJECT}</p>
<!-- END: Quote_Subject -->
<!-- BEGIN: Quote -->
<p><b>{ASSIGNER}</b> heeft een offerte toegewezen aan <b>{ASSIGNED_USER}</b>.</p>
<p>
Onderwerp: {QUOTE_SUBJECT}<br />
Status: {QUOTE_STATUS}<br />
verwachte afsluitdatum: {QUOTE_CLOSEDATE}<br />
Beschrijving: {QUOTE_DESCRIPTION}
</p>
<p>U kunt <a href={URL}>deze offerte bekijken</a>.</p>
<!-- END: Quote -->

<!-- BEGIN: Account_Subject -->
<p>SuiteCRM Account - {ACCOUNT_NAME}</p>
<!-- END: Account_Subject -->
<!-- BEGIN: Account -->
<p><b>{ASSIGNER}</b> heeft een Account toegewezen aan <b>{ASSIGNED_USER}</b>.</p>
<p>
Naam: {ACCOUNT_NAME}<br />
Type: {ACCOUNT_TYPE}<br />
Beschrijving: {ACCOUNT_DESCRIPTION}
</p>
<p>U kunt <a href={URL}>dit account bekijken</a>.</p>
<!-- END: Account -->

<!-- BEGIN: Case_Subject -->
<p>SuiteCRM Case- {CASE_SUBJECT}</p>
<!-- END: Case_Subject -->
<!-- BEGIN: Case -->
<p><b>{ASSIGNER}</b> heeft een case toegewezen aan <b>{ASSIGNED_USER}</b>.</p>
<p>
Onderwerp: {CASE_SUBJECT}<br />
prioriteit: {CASE_PRIORITY}}<br />
Status: {CASE_STATUS}}<br />
Beschrijving: {CASE_DESCRIPTION}
</p>
<p>U kan <a href={URL}>dit geval bekijken</a>.</p>
<!-- END: Case -->

<!-- BEGIN: Task_Subject -->
<p>SuiteCRM Taak- {TASK_SUBJECT}</p>
<!-- END: Task_Subject -->
<!-- BEGIN: Task -->
<p><b>{ASSIGNER}</b> heeft een taak toegewezen aan <b>{ASSIGNED_USER}</b>.</p>
<p>
Onderwerp: {TASK_SUBJECT}<br />
prioriteit: {TASK_PRIORITY}<br />
vervaldatum: {TASK_DUEDATE}<br />
Status: {TASK_STATUS}<br />
Beschrijving: {TASK_DESCRIPTION}
</p>
<p>U kunt <a href={URL}>deze taak bekijken</a>.</p>
<!-- END: Task -->

<!-- BEGIN: Meeting_Subject -->
<p>SuiteCRM Vergadering - {MEETING_SUBJECT}</p>
<!-- END: Meeting_Subject -->
<!-- BEGIN: Meeting -->
<p>Naar: {MEETING_TO}</p>
<p><b>{ASSIGNER}</b> heeft je uitgenodigd voor een vergadering</p>
<p>
Onderwerp: {MEETING_SUBJECT}<br />
Locatie: {MEETING_LOCATION}<br />
Startdatum: {MEETING_STARTDATE}<br />
Einddatum: {MEETING_ENDDATE}
</p>
<p>
<!-- BEGIN: Meeting_External_API -->
URL van de Vergadering: {MEETING_URL}
</p>
<!-- END: Meeting_External_API -->
<p>Beschrijving: {MEETING_DESCRIPTION}<br />
</p>
<p>---</p>
<p><a href={ACCEPT_URL}&accept_status=accept>Deze vergadering accepteren</a>.</p>
<p><a href={ACCEPT_URL}&accept_status=tentative>Deze vergadering voorlopig accepteren</a>.</p>
<p><a href={ACCEPT_URL}&accept_status=decline>Deze vergadering afwijzen</a>.</p>
<!-- END: Meeting -->

<!-- BEGIN: MeetingSpecial_Subject -->
<p>SuiteCRM Vergadering - {MEETING_SUBJECT}</p>
<!-- END: MeetingSpecial_Subject -->
<!-- BEGIN: MeetingSpecial -->
<p><b>{ASSIGNER}</b> heeft een vergadering die zijn toegewezen aan <b>{ASSIGNED_USER}</b>.</p>
<p>
Onderwerp: {MEETING_SUBJECT}<br />
Locatie: {MEETING_LOCATION}<br />
Status: {MEETING_STATUS}<br />
Startdatum: {MEETING_STARTDATE}<br />
Einddatum: {MEETING_ENDDATE}<br />
Beschrijving: {MEETING_DESCRIPTION}
</p>
<p>U kunt <a href={URL}>deze vergadering bekijken</a>.</p>
<!-- END: MeetingSpecial -->

<!-- BEGIN: MeetingReminder_Subject -->
<p>Vergaderherinnering - {MEETING_SUBJECT}</p>
<!-- END: MeetingSpecial_Subject -->
<!-- BEGIN: MeetingReminder -->
<p>
    Onderwerp: {MEETING_SUBJECT}<br />
    Wanneer: {MEETING_STARTDATE}<br />
    Waar: {MEETING_LOCATION}<br />
    Aangemaakt door: {MEETING_CREATED_BY}
</p>
<!-- END: MeetingReminder -->

<!-- BEGIN: Email_Subject -->
<p>SuiteCRM E-mail- {EMAIL_SUBJECT}</p>
<!-- END: Email_Subject -->
<!-- BEGIN: Email -->
<p><b>{ASSIGNER}</b> heeft een e-mail toegewezen aan <b>{ASSIGNED_USER}</b>.</p>
<p>
Onderwerp: {EMAIL_SUBJECT}<br />
datum verzonden: {EMAIL_DATESENT}
</p>
<p>U kunt <a href={URL}>deze e-mail bekijken</a>.</p>
<!-- END: Email -->

<!-- BEGIN: Contact_Subject -->
<p>SuiteCRM-Contact - {CONTACT_NAME}</p>
<!-- END: Contact_Subject -->
<!-- BEGIN: Contact -->
<p><b>{ASSIGNER}</b> heeft een contact toegewezen aan <b>{ASSIGNED_USER}</b>.</p>
<p>
Naam: {CONTACT_NAME}<br />
beschrijving: {CONTACT_DESCRIPTION}
</p>
<p>U kunt <a href={URL}>deze contactpersoon bekijken</a>.</p>
<!-- END: Contact -->

<!-- BEGIN: Lead_Subject -->
<p>SuiteCRM Lead- {LEAD_NAME}</p>
<!-- END: Lead_Subject -->
<!-- BEGIN: Lead -->
<p><b>{ASSIGNER}</b> heeft een lead toegewezen aan <b>{ASSIGNED_USER}</b>.</p>
<p>
Naam: {LEAD_NAME}<br />
leadBron: {LEAD_SOURCE}<br />
Status: {LEAD_STATUS}<br />
Beschrijving: {LEAD_DESCRIPTION}
</p>
<p>U kunt <a href={URL}>deze lead bekijken</a>.</p>
<!-- END: Lead -->

<!-- BEGIN: Opportunity_Subject -->
<p>SuiteCRM kans - {OPPORTUNITY_NAME}</p>
<!-- END: Opportunity_Subject -->
<!-- BEGIN: Opportunity -->
<p><b>{ASSIGNER}</b> heeft een kans toegewezen aan <b>{ASSIGNED_USER}</b>.</p>
<p>
Naam: {OPPORTUNITY_NAME}<br />
bedrag: {OPPORTUNITY_AMOUNT}<br />
verwachte afsluitdatum: {OPPORTUNITY_CLOSEDATE}<br />
verkoopstadium: {OPPORTUNITY_STAGE}<br />
Beschrijving: {OPPORTUNITY_DESCRIPTION}
</p>
<p>U kunt <a href={URL}> deze kans beoordelen</a>.</p>
<!-- END: Opportunity -->

<!-- BEGIN: Bug_Subject -->
<p>SuiteCRM Bug - {BUG_SUBJECT}</p>
<!-- END: Bug_Subject -->
<!-- BEGIN: Bug -->
<p><b>{ASSIGNER}</b> heeft een bug toegewezen aan <b>{ASSIGNED_USER}</b>.</p>
<p>
Bug nummer: {BUG_BUG_NUMBER}<br />
onderwerp: {BUG_SUBJECT}<br />
Type: {BUG_TYPE}<br />
prioriteit: {BUG_PRIORITY}<br />
Status: {BUG_STATUS}<br />
resolutie: {BUG_RESOLUTION}<br />
Release: {BUG_RELEASE}<br />
Beschrijving: {BUG_DESCRIPTION}<br />
Log bijwerken: {BUG_WORK_LOG}
</p>
<p>U kunt <a href={URL}> deze Bug beoordelen </a>.</p>
<!-- END: Bug -->

<!-- BEGIN: Default_Subject -->
<p>SuiteCRM - toegewezen {OBJECT}</p>
<!-- END: Default_Subject -->
<!-- BEGIN: Default -->
<p><b>{ASSIGNER}</b> heeft een {OBJECT} aan <b>{ASSIGNED_USER} toegewezen</b>.</p>
<p>U kunt <a href={URL}>{OBJECT} beoordelen</a>.</p>
<!-- END: Default -->

<!-- BEGIN: Call_Subject -->
<p>SuiteCRM oproep - {CALL_SUBJECT}</p>
<!-- END: Call_Subject -->
<!-- BEGIN: Call -->
<p>Naar: {CALL_TO}</p>
<p><b>{ASSIGNER}</b> heeft je uitgenodigd voor een telefoongesprek</p>
<p>
Onderwerp: {CALL_SUBJECT}<br />
Status: {CALL_STATUS}<br />
Start datum: {CALL_STARTDATE}<br />
duur: {CALL_HOURS}h, {CALL_MINUTES}m<br />
Beschrijving: {CALL_DESCRIPTION}<br />
</p>
<p>---</p>
<p><a href={ACCEPT_URL}&accept_status=accept>Deze oproep accepteren</a>.</p>
<p><a href={ACCEPT_URL}&accept_status=tentative>Deze oproep o. v. b. aannemen</a>.</p>
<p><a href={ACCEPT_URL}&accept_status=decline>Deze oproep afwijzen</a>.</p>
<!-- END: Call -->

<!-- BEGIN: CallSpecial_Subject -->
<p>SuiteCRM oproep - {CALL_SUBJECT}</p>
<!-- END: CallSpecial_Subject -->
<!-- BEGIN: CallSpecial -->
<p><b>{ASSIGNER}</b> heeft een telefoontje toegewezen aan <b>{ASSIGNED_USER}</b>.</p>
<p>
Onderwerp: {CALL_SUBJECT}<br />
Status: {CALL_STATUS}<br />
Start datum: {CALL_STARTDATE}<br />
duur: {CALL_HOURS}h, {CALL_MINUTES}m<br />
Beschrijving: {CALL_DESCRIPTION}
</p>
<p>U kunt <a href={URL}> dit gesprek beoordelen </a>.</p>
<!-- END: CallSpecial -->

<!-- BEGIN: CallReminder_Subject -->
<p>Oproep herinnering - {CALL_SUBJECT}</p>
<!-- END: CallReminder_Subject -->
<!-- BEGIN: CallReminder -->
<p>
    Titel: {CALL_SUBJECT}<br />
Wanneer: {CALL_STARTDATE}<br />
Aangemaakt door: {CALL_CREATED_BY}
</p>
<!-- END: CallReminder -->

<!-- BEGIN: Campaign_Subject -->
<p>SuiteCRM campagne - {CAMPAIGN_NAME}</p>
<!-- END: Campaign_Subject -->
<!-- BEGIN: Campaign -->
<p><b>{ASSIGNER}</b> heeft een Campagne toegewezen aan <b>{ASSIGNED_USER}</b>.</p>
<p>
Onderwerp: {CAMPAIGN_NAME}<br />
bedrag: {CAMPAIGN_AMOUNT}<br />
sluitingsdatum: {CAMPAIGN_CLOSEDATE}<br />
Status: {CAMPAIGN_STATUS}<br />
Beschrijving: {CAMPAIGN_DESCRIPTION}
</p>
<p>U kunt <a href={URL}> deze Campagne beoordelen </a>.</p>
<!-- END: Campaign -->

<!-- BEGIN: Quota_Subject -->
<p>SuiteCRM quota - uw quotum voor {QUOTA_TIMEPERIOD}</p>
<!-- END: Quota_Subject -->
<!-- BEGIN: Quota -->
<p><b>{ASSIGNER}</b> heeft een Quotum toegewezen aan <b>{ASSIGNED_USER}</b>.</p>
<p>
Bedrag: {QUOTA_AMOUNT}<br />
Timeperiod: {QUOTA_TIMEPERIOD}
</p>
<p>U kunt <a href={QUOTA_URL}> de toewijzing van de Quota beoordelen</a>.</p>
<!-- END: Quota -->

<!-- BEGIN: KBDocument_Subject -->
<p>SuiteCRM Document - {KBDOCUMENT_NAME}</p>
<!-- END: KBDocument_Subject -->
<!-- BEGIN: KBDocument -->
{NOTIFICATION_MESSAGE}

<p>
Naam: {KBDOCUMENT_NAME}<br />
datum gemaakt: {KBDOCUMENT_DATE_CREATED}<br />
gemaakt door: {KBDOCUMENT_CREATED_BY}<br />
Status: {KBDOCUMENT_STATUS}<br />
Beschrijving: {KBDOCUMENT_DESCRIPTION}
</p>
<p>U kunt <a href={URL}> dit document beoordelen </a>.</p>
<!-- END: KBDocument -->

<!-- BEGIN: Contract_Subject -->
<p>SuiteCRM Contract - {CONTRACT_NAME}</p>
<!-- END: Contract_Subject -->
<!-- BEGIN: Contract-->
<p><b>{ASSIGNER}</b> heeft een taak toegewezen aan <b>{ASSIGNED_USER}</b>.</p>
<p>U kunt <a href={URL}> dit Contract beoordelen </a>.</p>
<!-- END:Contract-->

<!-- BEGIN: ContractSpecial_Subject -->
<p>SuiteCRM Contract - {CONTRACT_NAME}</p>
<!-- END: ContractSpecial_Subject -->
<!-- BEGIN: ContractSpecial -->
<p>Uw Contract: {CONTRACT_NAME} is verouderd op {CONTRACT_END_DATE}.</p>
<p>U kunt <a href={URL}> dit Contract beoordelen </a>.</p>
<!-- END:ContractSpecial-->
