
 
{if !empty($fields.contact_created_by_id.value)}
{capture assign="detail_url"}index.php?module=Contacts&action=DetailView&record={$fields.contact_created_by_id.value}{/capture}
<a href="{sugar_ajax_url url=$detail_url}">{/if}
<span id="contact_created_by_id" class="sugar_field" data-id-value="{$fields.contact_created_by_id.value}">{$fields.contact_created_by_name.value}</span>
{if !empty($fields.contact_created_by_id.value)}</a>{/if}
