
 
{if !empty($fields.cases_cases_1cases_ida.value)}
{capture assign="detail_url"}index.php?module=Cases&action=DetailView&record={$fields.cases_cases_1cases_ida.value}{/capture}
<a href="{sugar_ajax_url url=$detail_url}">{/if}
<span id="cases_cases_1cases_ida" class="sugar_field" data-id-value="{$fields.cases_cases_1cases_ida.value}">{$fields.cases_cases_1_name.value}</span>
{if !empty($fields.cases_cases_1cases_ida.value)}</a>{/if}
