
{if !empty($fields.country_c.value) && ($fields.country_c.value != '^^')}
<input type="hidden" class="sugar_field" id="{$fields.country_c.name}" value="{$fields.country_c.value}">
{multienum_to_array string=$fields.country_c.value assign="vals"}
{foreach from=$vals item=item}
<li style="margin-left:10px;">{ $fields.country_c.options.$item }</li>
{/foreach}
{/if}