
 
{if !empty($fields.accounts_os1_outside_sales_activity_1accounts_ida.value)}
{capture assign="detail_url"}index.php?module=Accounts&action=DetailView&record={$fields.accounts_os1_outside_sales_activity_1accounts_ida.value}{/capture}
<a href="{sugar_ajax_url url=$detail_url}">{/if}
<span id="accounts_os1_outside_sales_activity_1accounts_ida" class="sugar_field" data-id-value="{$fields.accounts_os1_outside_sales_activity_1accounts_ida.value}">{$fields.accounts_os1_outside_sales_activity_1_name.value}</span>
{if !empty($fields.accounts_os1_outside_sales_activity_1accounts_ida.value)}</a>{/if}
