.hide{
	display: none;	
}

td,th{
	padding: 5px;
	min-width: 220px;
	text-align: center;
}
	
select{
	width: 220px;
}
	
.scroll{
   	width: 1000px;
   	height: 600px;
   	overflow: auto;
	font-weight: bold;
}
	
.fixed{
   	position: fixed;
   	top:0; left:0;
   	width: 100%; 
}
	
thead{
	font-size: 16px;
	font-weight: bold;
}
	
#settings table{
	border-collapse: collapse;	
}
	
#settings td,th{
	border: 1px solid black;
}

#container{
	width: 100%;
	overflow: hidden;
}