/**** Panels ****/
@import 'variables';


.panel {
  margin-bottom: 0;
}

.panel-body {
  padding: 0;
}

.panel-template {
  visibility: collapse;
}

.panel-default > .panel-heading {
  background: $panel-expanded-bg;
  color: white;
  padding: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 52px/$panel-height-divisor;
  vertical-align: middle;
}

.panel-default > .panel-heading > div {
  font-size: 14px ;
  font-weight: 500;
  background-color: $panel-expanded-bg;
  color: $default-btn-color;
  line-height: 52px/$panel-height-divisor;
  height: 52px/$panel-height-divisor;
}

.panel-default > .panel-body {
  padding: 0;
}

.panel-default > .panel-heading-collapse {
  background: $panel-collapsed-bg;
}

.collapse, .collapsing, .collapse.in {
  transition: none;
  -webkit-transition: none;
}

.panel-default > .panel-heading {
  display: block;
  text-transform: uppercase;
}

.panel-default > .panel-heading > a {
  display: block;
  font-size: 14px ;
  font-weight: 500;
  color: $default-btn-color;
  padding: 15px/$panel-height-divisor 10px 0 10px/$panel-height-divisor;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 52px;
  text-decoration: none;
  text-decoration: none;
  //background-color: $panel-expanded-bg;
}

.panel-default.sub-panel > .panel-heading  > a {
  display: block;
  font-size: 14px ;
  font-weight: 500;
  color: $default-btn-color;
  padding: 10px/$panel-height-divisor 10px 0 10px/$panel-height-divisor;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: 52px/$panel-height-divisor;
  text-decoration: none;
  //background-color: $panel-expanded-bg;
}

.panel-default > .panel-heading  > a:not(.collapsed) {
  background-color: $panel-expanded-bg;

}

.sub-panel  div.tab-content {
  padding: 0 ;
  border: none;
}


.panel-default > .panel-heading > a img {
  margin-right: 15px;
}

.panel-default > .panel-body {
  padding: 0 0 0 0;
}

.panel-heading a.collapsed {
  background-color: $panel-collapsed-bg ;
}


.panel-heading a.collapsed:before {
  content: "\2b" ;
}

.panel-heading a:before
{
  font-family: 'Glyphicons Halflings';
  content: "\2212";
  font-weight: 100;
  line-height: 26px/$panel-height-divisor;
}


.sub-panel > .panel-body > .tab-content > div {
  margin-bottom: 25px ;
  border: none;
}

.sub-panel > .panel-body > .tab-content > div tr:last-child {
  margin-bottom: 25px ;
  border-bottom: none;
}

.h3Row {
  padding: 0;
  margin: 0;
}

div.action_buttons form {
  float: left;
}

div.action_buttons .button {
  background-color: $default-btn-bg;
}
div.action_buttons .button:hover {
  background-color: $default-btn-bg-hover;
}

#subpanel_list .tab-content .list.view.subpanel-table .pagination div.action_buttons .button {
  padding: 5px 13px;
  line-height: initial;
  height: initial;
  text-transform: capitalize;
}

div.sub-panel {
  margin-bottom: 4px;
}


.subpanel-table tr:last-of-type td {
  border-bottom: 1px solid transparent;
}


.subpanel-table {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.table-responsive.list .pagination,
.table-responsive.list .pagination tr,
.table-responsive.list .pagination  td,
.table-responsive.list .pagination  th {
    border: 0;
}

.sub-panel tbody tr td .sugar_action_button > a:link {
  border-bottom: none;
  color: $list-view-button-color;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sub-panel .sugar_action_button > a:hover {
  border-bottom: none;
  color: $list-view-button-color;
}


.sub-panel .table-responsive.list > tbody > tr > td ul.subnav a {
  color: $list-view-button-color;
  width: 100%;
}

.sub-panel .table-responsive.list > tbody > tr > td ul.subnav a:hover {
  color: $list-view-button-color;
  width: 100%;
}

.sub-panel tbody tr td ul.clickMenu > li > span {
  margin-top: 12px;
}


.footable-details.table-responsive.list th {
  font-weight: bold;
  color: #000000;
}

.footable-details.table-responsive.list th a:link {
  font-weight: bold;
  color: #000000;
  border-bottom: none;
}

.subpanel-table .clickMenu > li, .SugarActionMenuIESub li {
  padding: 0;
  line-height: 24px;
  white-space: nowrap;
}

.subpanel-table ul.subpanel {
  background: none;
  background-color: transparent ;
  border: none;
  border-color: transparent ;
}

.sugar_action_button a {
  color: #fff;
}

.subpanel-table .pagination li.sugar_action_button > form > a {
  width: 100%;
}

.subpanel-table ul.subpanel > a {
  background-color: #94A6B5;
  padding: 0 ;
  padding-right: 4px ;
  border: 1px solid transparent;
  border-radius: 4px;
}

.subpanel-table li.sugar_action_button {
  background-color: #94A6B5;
  padding: 0 ;
  padding-right: 4px ;
  border: 1px solid transparent;
  border-radius: 4px;
}

.subpanel-table .pagination .sugar_action_button {
  background-color: #94A6B5;
  padding: 0 ;
  padding-right: 4px ;
  border: 1px solid transparent;
  border-radius: 4px;
}

.subpanel-table .pagination li.sugar_action_button > form > a {
  background-color: #94A6B5;
  padding: 0 ;
  padding-right: 4px ;
  border: 1px solid transparent;
  border-radius: 4px;
}

.subpanel-table .pagination .sugar_action_button > form > a{
  background-color: #94A6B5;
  padding: 0 ;
  padding-right: 4px ;
  border: 1px solid transparent;
  border-radius: 4px;
}

.subpanel-table .pagination .sugar_action_button > form > a {
  background-color: #94A6B5;
  padding: 0 ;
  padding-right: 4px ;
  border: 1px solid transparent;
  border-radius: 4px;
}

/*calendar popup fix*/
.calcell > a {
  background-color: #fff;
}


/* pagination on list view subpanel-table */

.subpanel-table.list tr.pagination span.pageNumbers {
  position: relative;
  top: -7px;
}


.subpanel-table.list tr.pagination button.button[name="listViewStartButton"] img,
.subpanel-table.list tr.pagination button.button[name="listViewPrevButton"] img,
.subpanel-table.list tr.pagination button.button[name="listViewNextButton"] img,
.subpanel-table.list tr.pagination button.button[name="listViewEndButton"] img {
  display: none;
}

.subpanel-table.list tr.pagination button.button[name="listViewStartButton"],
.subpanel-table.list tr.pagination button.button[name="listViewPrevButton"],
.subpanel-table.list tr.pagination button.button[name="listViewNextButton"],
.subpanel-table.list tr.pagination button.button[name="listViewEndButton"] {
  background-image: none,url("../../../../themes/SolarEdgeP/images/p_pag_tools.svg"),url("../../../../themes/SolarEdgeP/images/p_pag_tools.png");
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  width: 26px;
  height: 26px;
}
.subpanel-table.list tr.pagination button.button[name="listViewStartButton"]:hover,
.subpanel-table.list tr.pagination button.button[name="listViewPrevButton"]:hover,
.subpanel-table.list tr.pagination button.button[name="listViewNextButton"]:hover,
.subpanel-table.list tr.pagination button.button[name="listViewEndButton"]:hover {
  background-color: #808F9C;
}

.subpanel-table.list tr.pagination button.button[name="listViewStartButton"] {
  background-position: 9px -29px;
}

.subpanel-table.list tr.pagination button.button[name="listViewPrevButton"] {
  background-position: 9px -50px;
}

.subpanel-table.list tr.pagination button.button[name="listViewNextButton"] {
  background-position: 10px -132px;
}

.subpanel-table.list tr.pagination button.button[name="listViewEndButton"] {
  background-position: 10px -112px;
}

.subpanel-table.list tr.pagination button.button[name="listViewStartButton"][disabled],
.subpanel-table.list tr.pagination button.button[name="listViewPrevButton"][disabled],
.subpanel-table.list tr.pagination button.button[name="listViewNextButton"][disabled],
.subpanel-table.list tr.pagination button.button[name="listViewEndButton"][disabled] {
  cursor: default;
  opacity: .5;
}

.subpanel-table.list tr.pagination button.button[name="listViewStartButton"],
.subpanel-table.list tr.pagination button.button[name="listViewPrevButton"],
.subpanel-table.list tr.pagination button.button[name="listViewNextButton"],
.subpanel-table.list tr.pagination button.button[name="listViewEndButton"],
.subpanel-table.list tr.pagination button.button[name="listViewStartButton"][disabled]:hover,
.subpanel-table.list tr.pagination button.button[name="listViewPrevButton"][disabled]:hover,
.subpanel-table.list tr.pagination button.button[name="listViewNextButton"][disabled]:hover,
.subpanel-table.list tr.pagination button.button[name="listViewEndButton"][disabled]:hover {
  background-color: #94A6B5;
}

#actionLinkTop li.sugar_action_button:hover,
#actionLinkBottom li.sugar_action_button:hover,
.action-link-top li.sugar_action_button:hover,
.action-link-bottom li.sugar_action_button:hover,
.subpanel-table li.sugar_action_button:hover,
#selectLinkTop li.sugar_action_button:hover,
#selectLinkBottom li.sugar_action_button:hover,
.subpanel-table .pagination .sugar_action_button:hover,
.subpanel-table .pagination li.sugar_action_button:hover > form > a,
.subpanel-table .pagination .sugar_action_button:hover > form > a,
.subpanel-table .pagination .sugar_action_button:hover > form > a,

.subpanel-table ul.subpanel a:hover,
.subpanel-table li.sugar_action_button:hover,
.subpanel-table .pagination .sugar_action_button:hover,
.subpanel-table .pagination li.sugar_action_button:hover > form > a,
.subpanel-table .pagination .sugar_action_button:hover > form > a,
.subpanel-table .pagination .sugar_action_button:hover > form > a,
.subpanel-table .pagination a,
.subpanel-table .subnav {
  background-color: #778591;
}

.subpanel-table .pagination a {
  padding-left: 8px;
  padding-right: 8px;
}

.subpanel-table .pagination .clickMenu li span {
  margin-top: 9px;
  margin-left: 0;
  margin-right: 5px;
  float: right;
}



.subpanelTabForm {
  background-color: $main-bg;
  color: #000000;
  border-color: #F08377;
}

.tablist, .subpanelTablist {
  border-bottom-color: #F08377;
}

.tablist li a:hover, .subpanelTablist li a:hover {
  background: #fafafa;
  border-color: #F08377;
}

.tablist li a, .subpanelTablist li a {
  background-color: #fff;
  border-color: #dddddd;
}

.tablist li a:link, .tablist li a:visited, .subpanelTablist li a:link, .subpanelTablist li a:visited {
  color: #444444;
}

.tablist li a:hover, .subpanelTablist li a:hover {
  background: #fafafa;
}

.subpanelTablist li a.current, .subpanelTablist li a.current:hover {
  background: #fff;
  color: #4f4f4f;
  border-top: none;
  border-bottom: none;
  border-right-color: #cccccc;
}

.tablist li a.current:link, .tablist li a.current:visited, .tablist li a.current:hover {
  background: #f6f6f6;
  border-top-color: #abc3d7;
  border-bottom-color: #f6f6f6;
  border-right-color: #abc3d7;
}


.tablist, .subpanelTablist {
  border-bottom: 2px solid;
}

.tablist li a, .subpanelTablist li a {
  border-top: 2px solid;
  border-top: none;
  border-bottom: none;
  border-right-color: #cccccc;
}

.tablist li a:hover, .subpanelTablist li a:hover {
  border-top: 2px solid;
}

.tablist li a.current, .tablist li a.current:hover {
  font-weight: bold;
  border-bottom: 2px solid #f6f6f6;
}

.subpanelTablist li a.current, .subpanelTablist li a.current:hover {
  font-weight: bold;
  border-bottom: 2px solid #fff;
}

.subpanelTabForm .h3Row {
  background-image: none;
  border-top: 1px solid #dddddd;
}



.tablist, .subpanelTablist {
  padding: 0;
  margin: 0;
  list-style: none;
}


#dashName {
  margin-bottom: 4px;
}


.tablist li a.activeSubTab:hover {
  color: #000000;
  border-bottom-color: #ddd;
}

.subpanelTablist li a.activeSubTab:hover {
  color: #000000;
}

.subpanelTablist #addPageItem a, .subpanelTablist #addPageItem a:hover {
  background: transparent;
  border: none;
  text-decoration: none;
}

.tablist li a:link, .tablist li a:visited, .subpanelTablist li a:link, .subpanelTablist li a:visited {
  text-decoration: none;
}

.subpanelTabForm td {
  padding: 15px 0;
}

table.subpanelTabForm td {
  padding-top: 0;
  padding-bottom: 2px;
}

.subpanelTabForm p {
  margin-bottom: 0;
}

.subpanelTabForm h3 {
  padding-left: 3px;
}

.subpanelTabForm .h3Row {
  padding-top: 2px;
  margin-top: 0;
}

.subpanelTabForm {
  margin-bottom: 10px;
}

#groupTabs {
  margin-top: 20px;
}

#groupTabs li, #searchTabs li {
  margin: 0 -3px 0 0;
}

table.subpanelTabForm {
  margin-bottom: 4px;
  border-top: 0 none;
}

.collapsed .panelContainer, .collapsed .collapseLink, .expanded .expandLink {
  display: none;
}


.oddListRowS1:hover td ul.clickMenu.subpanel.records li span,
.evenListRowS1:hover td ul.clickMenu.subpanel.records li span {
  opacity: 1;
}


@media (max-width: 767px) {
  .panel-heading a div {
    width: 94.66%;
  }
}

@media (min-width: 768px) {
  .panel-heading a div {
    width: 97.66%;
  }
}


.clickMenu li span.subhover {
  cursor: pointer;
}


.clickMenu li .subnav,
.clickMenu .subnav-sub,
.SugarActionMenuIESub {
  display: none;
  position: absolute;
  top: 20px;
  padding: 8px 0;
  margin: 0;
  border: 1px solid transparent;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  float: left;
  overflow: hidden;
  width: auto;
  z-index: 10;
  list-style: none;
}

.clickMenu .subnav-sub,
.SugarActionMenuIESub {
  right: 0;
}

.clickMenu li .subnav {
  right: auto;
  margin-top: 4px;
  min-width: 128px;
}

.clickMenu li .subnav li, .clickMenu .subnav-sub li, .SugarActionMenuIESub li {
  padding: 0;
  margin: 0;
  clear: both;
  width: 100%;
  white-space: nowrap;

}


.clickMenu.subpanel.records li .subnav li a span {
  background-image: none;
  width: 0;
  height: 0;
}

.clickMenu.button li span.ab:hover {
  background-position: 50% 0;

}

.clickMenu.button li > span a {
  padding: 0 ;
}

.clickMenu.button span {
  padding-right: 5px;
}

.clickMenu.button li .subnav {
  width: auto;
}

.clickMenu li a.disabled {
  color: gray ;
  cursor: default ;
}
